@import _mixins

.catalog-page
	padding-top: 20px
	padding-bottom: 40px

.catalog-category-name
	border-bottom: 2px solid #333
	margin-bottom: 2em
	h1

.catalog-item
	img
		height: 175px
		width: 100%
	h3
		color: #333
		line-height: 1em
		font-size: 1.4rem
	h4
		color: #333
		line-height: 1em
		font-size: 1rem
	p
		margin: 0.6em 0 1.2em
		height: 54px
	.buttons-holder
		display: flex
		justify-content: space-between
	.image-holder
		display: block
