.delivery-page
	margin-top: -42px
	.buttons-holder
		text-align: center
		margin-top: 2rem
		// margin-bottom: 2rem
		// margin-top: 0
		margin-bottom: 0
	.page-label
		.btn
			// margin-left: 0.5em
			// margin-right: 0.5em
			margin: 0.6em 0.3em
