@import _mixins

footer.footer-main
	background: #eee
	padding: 20px 0
	textarea,
	input
		display: block
		width: 100%
	[type="submit"]
		border-color: #ccc
		background-color: transparent
		text-transform: uppercase
		font-size: 0.8em
		font-weight: 700
		letter-spacing: 0.05em
		display: inline-block
		width: auto
		&:hover
			background-color: #ccc
			color: #fff
	table
		width: 100%
		tr
			vertical-align: top
	h4
		font-size: 12px
		text-transform: uppercase
		letter-spacing: 0.1em
		font-weight: 700
		margin-bottom: 1.2em
		display: inline-block
		border-bottom: 1px solid #ccc
		padding-bottom: 0.2em
	a
		text-decoration: none
		color: #666
		&:hover
			text-decoration: underline
	li
		margin-bottom: 4px

	.copyright-section
		@media #{$media-sm}
			text-align: center
		&__copyright
		&__developers
			text-align: right
			@media #{$media-sm}
				text-align: center
	.social-networks-section
		@media #{$media-sm}
			text-align: center
		a
			display: inline-block
			padding: 6px
			height: 36px
			width: 36px
		li
			display: inline-block
			vertical-align: middle
			// border: 2px solid #000
			// border-radius: 50%
			// padding: 8px
			svg
				height: 100%
				width: auto
				path
					fill: #333
					transition: fill 100ms
			&:hover
				svg
					path
						fill: #666
