@import _mixins


.mfp-content,
	pointer-events: none

.item-card-page
	h1
		@media #{$media-sm}
			font-size: 26px
	h3
		font-size: 20px
	.radios-inline
		.radio-group
			display: inline-block
			margin-right: 20px

.chosen-material
	white-space: nowrap
	.color-tooltip-wrapper
		top: auto !important
		bottom: 100% !important
		left: 50% !important
		transform: translateX(-50%)
		opacity: 0
		pointer-events: none
	input
		display: none
	li
		list-style: none
		display: inline-block
		position: relative
		margin: 0 0 0 10px
		// margin: 0
		&:hover
			.color-tooltip-wrapper
				opacity: 1
	span
		display: inline-block
		vertical-align: top
	label
		margin: 0
		height: 40px
		width: 40px

.item-card-main-description
	margin-top: 1.4rem
	margin-bottom: 1.4rem
	a
		display: block
	p
		margin-bottom: 1em
	img
		width: 100%
	mark
		color: $main-color
		background: none
		padding: 0 !important

.item-card-main-media
	iframe
		// margin-top: 1em
		height: calc(100vw / 16 * 4.5)
		width: 100%
	img
		width: 100%

.item-card-main-tabs-holder
	$border-color: #ccc
	// border-top-color: $border-color
	&>li
		overflow: hidden
		margin-left: -1px
		margin-bottom: -1px
		border-bottom: 1px solid $border-color
		&:first-child
			margin-left: 0
		a
			transform: translateY(18px) translateZ(0)
			transition: transform 100ms
			border-bottom: none
		.active, &:hover
			a
				transform: translateY(0) translateZ(0)
		&>a
			background: #f6f6f6
			border-color: $border-color
			color: #333
			&:hover
				border-color: $border-color
	.active
		border-bottom: none
		a
			background: #fff
			transform: translateY(0) translateZ(0)
	small
		display: block
	@media #{$media-sm}
		li
			width: 50%
	@media #{$media-xs}
		li
			width: 100%

.item-card-main-tab-content
	border: 1px solid #ddd
	border-top: none
	padding: 10px 20px 10px

.item-card-main-props
	table
		// border: 1px solid #eee
		border: none
		margin: 2rem 0
		width: 100%
	td
		padding: 1rem 1rem
		vertical-align: top
		width: 25%
	
	tr
		vertical-align: top
	td
		// display: block
		// float: left
		// width: 25%
		text-align: center
		border-left: 1px solid #676767
		&:nth-of-type(1)
			border-left: none
	.props-group
		text-align: left
		display: inline-block

		
	h4
		margin-top: 0
		margin-bottom: 0.3em
	p
		margin: 0
		&:last-of-type
			border: none
	hr
		border-top: 1px solid #ccc
		margin: 14px 0

	.description-table-header
		background: #888
		color: #fff
		// padding: 0.6em 1em
		text-align: center
		margin: 0
		vertical-align: middle
	// td.description-table-header
		// width: 100%

.item-card-important-props
	h3
		margin-top: 0

.item-card-main-slider
	margin-top: 1.5rem
	margin-bottom: 1rem

	.owl-prev,
	.owl-next
		background-position: 50% 50%
		background-size: contain
		background-repeat: no-repeat
		background-color: rgba(0,0,0,0.2)
		border: 8px solid transparent

		opacity: 0.5
		transition: opacity 100ms

		font-size: 0
		position: absolute
		top: 50%
		margin-top: -20px
		height: 40px
		width: 40px
		&:hover
			opacity: 1
	.owl-prev
		left: 0
		background-image: url("../img/icons/gm-arrow-left.svg")
	.owl-next
		right: 0
		background-image: url("../img/icons/gm-arrow-right.svg")

/**
 * SLIDERS
 */

#owl-main
	margin-top: 0
	margin-bottom: 0
	.item
		background-position: 0 0
		background-repeat: no-repeat
		background-size: 100% auto
		@media #{$media-sm}
			height: auto
		a
			display: block
		img
			height: auto
			height: 32vw
			width: 100%

#owl-other-items
	margin: 20px 0 40px
	.item
		display: block
		margin: 0 10px
		overflow: hidden
		position: relative
		background-size: cover
		background-position: 50% 50%
		transition: opacity 100ms
		&:before
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(0,0,0,0.4)
			opacity: 1
			transition: opacity 300ms
		&:after
			content: ''
			position: absolute
			left: 10%
			right: 10%
			top: 40%
			bottom: 40%
			transition: border 300ms, top 300ms, bottom 300ms
			border: 1px solid rgba(255, 255, 255, 0.4)
				top-color: transparent
				bottom-color: transparent
		&:hover
			&:before
				opacity: 0
			&:after
				border:
					top-color: rgba(255, 255, 255, 1)
					bottom-color: rgba(255, 255, 255, 1)
				top: 10%
				bottom: 10%
	.owl-prev,
	.owl-next
		background: transparent 50% 50% no-repeat
		background-size: contain
		position: absolute
		top: 50%
		font-size: 0
		margin-top: -15px
		height: 30px
		width: 16px
	.owl-prev
		left: -38px
		background-image: url('../img/icons/slide-arrow-prev-1.svg')
		@media #{$media-xs}
			left: 8px
	.owl-next
		background-image: url('../img/icons/slide-arrow-next-1.svg')
		right: -38px
		@media #{$media-xs}
			right: 8px

.product-slide-pages
	font-size: 0
	height: 32vw
	overflow: auto
	overflow-x: hidden
	overflow-y: auto
	&::-webkit-scrollbar
		height: 0
		width: 0
	@media #{$media-sm}
		margin-top: 14px
		height: auto
	.item
		background: #000
		margin-bottom: 7px
		margin-bottom: 1vw
		&:last-of-type
			margin-bottom: 0
		@media #{$media-sm}
			display: inline-block
			width: 20%
		img
			width: 100%
			opacity: 0.5
			transform: translateZ(0)
			transition: opacity 100ms
			height: auto
			height: 10vw
		a
			display: block
			position: relative
			&:after
				content: ''
				position: absolute
				opacity: 0.5
				top: 20%
				bottom: 20%
				left: 10%
				right: 10%
				border: 1px solid #fff
				border-top-color: transparent
				border-bottom-color: transparent
				transition: border 100ms, top 100ms, bottom 100ms, opacity 100ms
			&:hover
				&:after
					opacity: 1
					top: 10%
					bottom: 10%
					border-top-color: #fff
					border-bottom-color: #fff
				img
					opacity: 1
	.synced
		outline: 2px solid $main-color
		outline-offset: -2px
		img
			opacity: 1
		a
			&:after
				opacity: 0

/**
 * END SLIDERS
 */

.item-card-slider-description
	margin-bottom: 2rem

.item-card-main-info-block
	margin: 0 0 20px
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	@media #{$media-sm}
		text-align: center
	& > *
		display: inline-block
		margin-right: 1.3rem
		// margin-top: 0
		// margin-bottom: 0
	.form-group
		margin-bottom: 0
	label
		font-weight: 400
	.price-tag
		font-weight: bold
		font-size: 2rem
		line-height: 2rem
		// color: $main-color
	.price-tag-old
		font-size: 1.2rem
		// text-decoration: line-through
		margin:
			left: 0.5em
			right: 0.5em
		position: relative
		&:after
			content: ''
			background: #333
			// background: $main-color
			height: 2px
			top: 50%
			left: 0
			right: 0
			display: block
			position: absolute
	span
		vertical-align: middle
	a
		margin: 0 0 0 1em
		@media #{$media-xs}
			display: block
			margin: 10px 0 10px
	.btn.btn-grey
		color: #fff
		background-color: $main-color
		&:before,
		&:after
			background-color: $main-color
		&:hover
			background-color: #fff
			color: $main-color
		span
			&:before,
			&:after
				background-color: $main-color

.basic-information-row
	margin-bottom: 20px
	// border-bottom: 1px solid #eee
	text-align-last: justify
	li
		padding-right: 0

.materials-list
	label
		background-size: cover
		cursor: pointer
		outline: 1px solid rgba(0,0,0,0.2)
		display: inline-block
		height: 30px
		width: 30px
		transition: transform 100ms
	input
		text-indent: -99999px
		display: inline-block
		height: 0 !important
		width: 0 !important
		opacity: 0
		&:checked + label
			transform: scale(1.2)
			// outline: 2px solid $main-color
			position: relative
			&:before
				content: ''
				background-color: rgba(255,255,255,0.8)
				position: absolute
				border-radius: 50%
				display: block
				top: 4px
				bottom: 4px
				left: 4px
				right: 4px
				z-index: 1
			&:after
				content: ''
				background: url('../img/icons/icon-checked-1.svg') 50% 50% no-repeat
				position: absolute
				display: block
				top: 9px
				bottom: 9px
				left: 9px
				right: 9px
				z-index: 2


.description-table
	tr
		@media #{$media-xs}
			display: block
		padding: 6px 0
	td
		vertical-align: top
		padding: 4px 10px
		@media #{$media-xs}
			display: block
			padding: 0
		&:first-child
			padding-left: 0

.color-tooltip-wrapper
	padding-bottom: 14px
	position: absolute
	&:after
		content: ''
		position: absolute
		left: 50%
		bottom: 3px
		border: 7px solid transparent
		border-top-color: rgba(0,0,0,0.8)
		border-bottom: none
		margin-left: -7px

.color-tooltip
	outline: 4px solid rgba(0,0,0,0.8)
	background-size: contain
	height: 190px
	width: 190px

