@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

body
	font: $font-stack
	padding-top: 97px
	transition: none
	@media #{$media-sm}
		padding-top: 59px
	// &::-webkit-scrollbar
	// 	height: 0
	// 	width: 0
	& > content
		display: block
		transition: none
		min-height: calc(100vh - 376px)
		@media #{$media-sm}
			min-height: calc(100vh - 244px)

*
	transition: all .3s


//----------------------------------
// HERO
//----------------------------------
.hero-section
	display: flex
	padding: 200px 0
	align-items: center
	min-height: 600px
	@media #{$media-xs}
		padding: 20px 0
		min-height: 300px
	h1
		font-weight: 100
		margin-top: 10px
		@media #{$media-xs-min}
			font-size: 2rem
	p
		font-size: 1.2rem
		line-height: 1.4em
		@media #{$media-xs-min}
			line-height: 1.4em
			font-size: 1rem
	// .container
	.content
		background: rgba(255,255,255,0.85)
		border-radius: 2px
		padding: 20px 28px
		max-width: 700px
//----------------------------------
// END HERO
//----------------------------------


//----------------------------------
// SUBSCRIBE FIELD
//----------------------------------
.subscribe-field
	h4
	p
		margin-bottom: 1em
	.form-group
		position: relative
		input,
		button
			height: 40px
		input
			border-radius: 1px
		button
			position: absolute
			right: 0
			top: 0
			line-height: 40px
			padding: 0 10px
			background: #333
			border-top-right-radius: 1px
			border-bottom-right-radius: 1px
			transition: background 100ms
			span
				height: 40px
				font-size: 18px
				line-height: 34px
				color: #fff
				vertical-align: middle
			&:hover
				background: transparent
				span
					color: #333
	&__footer
//----------------------------------
// END SUBSCRIBE FIELD
//----------------------------------


//----------------------------------
// CATEGORIES ON MAIN-PAGE
//----------------------------------
.categories-page
	padding-top: 40px
	padding-bottom: 40px
	@media #{$media-xs}
		padding-top: 20px
		padding-bottom: 20px
.categories-section
	hr
		border-color: #eee
		display: none !important
	.item-description
		& > *
			margin-left: 40px
			@media #{$media-xs-min}
				margin-left: 0
	.desc_row
		@media #{$media-xs-min}
			display: none
	.h2, h2
		color: #333
		font-size: 28px
		font-weight: 600
		margin-bottom: 0.8em
		@media #{$media-xs-min}
			font-size: 18px
		a
			background: #fff
			padding: 6px 12px
			line-height: 1em
			color: inherit
			font-size: inherit
			font-weight: inherit
			@media #{$media-xs-min}
				background: transparent
	.blackbut
		border: 2px solid #333
		background: #333
		display: inline-block
		color: #fff
		padding: 10px 24px
		text-transform: uppercase
		font-size: 12px
		font-weight: 600
		letter-spacing: 0.05em
		margin-bottom: 20px
		&:hover
			text-decoration: none
			color: #333
			background: #fff
	& > .row
		border: 2px solid #eee
		border-radius: 1px
		margin: 30px
		@media #{$media-xs}
			margin-bottom: 60px
		@media #{$media-xs-min}
			margin-bottom: 80px
			text-align: center
		.category-item
			margin: -30px
		&:nth-of-type(odd)
			.h2, h2
				position: relative
				top: -5px
				margin-left: -9px
				@media #{$media-xs-min}
					margin-left: 0
		&:nth-of-type(even)
			.h2, h2
				position: relative
				top: -5px
				margin-left: 60px
				@media #{$media-xs-min}
					margin-left: 0
//----------------------------------
// END CATEGORIES ON MAIN-PAGE
//----------------------------------


//----------------------------------
// WHERE TO BUY
//----------------------------------
.where-to-buy
	background: url('../img/bg/map-ukraine-outline.svg') 50% 50% no-repeat / contain
	padding: 50px 15px 100px
	@media #{$media-xs-min}
		padding: 10px 15px
		text-align: center
	h2
		margin-bottom: 1em
	p
		line-height: 1.4em
	.cities-buttons
		margin-top: 40px
		a
			display: block
			color: #333
			border: 2px solid #333
			padding: 10px 24px
			text-decoration: none
			transition: background 100ms
			margin: 0 20px 20px
			width: 180px
			&:hover
				color: #fff
				background: #333
			span
				overflow: hidden
				text-overflow: ellipsis
				display: block
				white-space: nowrap
				max-width: 100%
//----------------------------------
// END WHERE TO BUY
//----------------------------------

//----------------------------------
// CART
//----------------------------------
.cart-items-holder
	margin: 120px 0
	padding: 0 20px
.cart-item
	font-size: 0
	letter-spacing: 0
	white-space: nowrap
	.left-side,
	.right-side
		display: inline-block
		height: 120px
		font-size: 1rem
		vertical-align: middle
	.left-side
		width: 40%
		.item-name,
		.item-image
			display: inline-block
			vertical-align: middle
		.item-image
			width: 120px
			a
				display: block
				img
		.item-name
			margin-left: 20px
			color: #333
			font-weight: 600
	.right-side
		text-align: right
		width: 60%
		select
			padding: 2px 10px
		.item-color
		.item-material
		.item-price
			.price-cost
				font-size: 1.6em
			.currency
		.item-remove
			.remove-button
				font-size: 24px
//----------------------------------
// END CART
//----------------------------------


//----------------------------------
// ABOUT PAGE
//----------------------------------
.about-page
	padding-bottom: 40px
	@media #{$media-lg}
		padding-top: 100px
	.bottom-bar
		margin-top: 2em
	br
		@media #{$media-md}
			display: none
	h1
		@media #{$media-lg}
			margin-top: 0
			white-space: nowrap
//----------------------------------
// END ABOUT PAGE
//----------------------------------

//----------------------------------
// CONTACTS PAGE
//----------------------------------
.contacts-page
	padding-top: 40px
	padding-bottom: 80px
	.buttons-holder
		button
			margin: 4px 4px 4px 0
.contact-form
	.help-block
		text-align: right
		font-size: 12px
	label
		font-weight: 400
	input, textarea
		width: 100%
	textarea
		min-height: 140px
	.input-file
		text-decoration: underline
	&-main
		background: #f7f7f7 url('../img/bg/09.png') 0 0 repeat
		padding: 20px

.google-map
	transition: none
	height: 475px
	width: 100%
	@media #{$media-sm}
		max-height: 80vh
	*
		transition: none

.buttons-holder,
.adresses-section
	margin-bottom: 20px
.adresses-section

//----------------------------------
// END CONTACTS PAGE
//----------------------------------

//----------------------------------
// TEST PAGE
//----------------------------------
.test-page
	a
		line-height: 2em
		font-size: 1rem
//----------------------------------
// END TEST PAGE
//----------------------------------


//----------------------------------
// TEST
//----------------------------------
.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------
