@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

html
	margin: 0 !important

body
	font: $font-stack
	padding-top: 110px
	transition: none
	@media #{$media-sm}
		padding-top: 59px
	// &::-webkit-scrollbar
	// 	height: 0
	// 	width: 0
	& > content
		display: block
		transition: none
		min-height: calc(100vh - 376px)
		@media #{$media-sm}
			min-height: calc(100vh - 244px)


//----------------------------------
// HERO
//----------------------------------
.hero-section-slider
	// position: relative
	.owl-controls
		@media (max-width: $screen-md-max + 80px)
			display: none !important
	.owl-buttons
		position: absolute
		right: 0
		bottom: 0
		bottom: 10px
		white-space: nowrap
		.owl-prev,
		.owl-next
			position: static
			display: inline-block
			opacity: 1
			font-size: 0
			background-color: rgba(239, 127, 26, 0.8)
			height: 82px
			width: 82px
			border: 8px solid transparent

			background-position: 50% 50%
			background-repeat: no-repeat
			background-size: 22px auto
			&:after
				position: absolute
				background-position: 50% 50%
				background-repeat: no-repeat
				background-size: contain
				top: 50%
				left: 50%
				margin-left: -18px
				margin-top: -12px
				height: 36px
				width: 34px
			&:hover
				opacity: 1
				background-color: $main-color
		.owl-prev
			background-color: rgba(26, 26, 26, 0.8)
			background-image: url("../img/icons/gm-arrow-left.svg")
			// left: 0
			// &:after
				// background-image: url("../img/icons/slide-arrow-prev-1.svg")
		.owl-next
			background-image: url("../img/icons/gm-arrow-right.svg")
			// right: 0
			// &:after
				// background-image: url("../img/icons/slide-arrow-next-1.svg")
	.owl-pagination
		display: none
		display: flex
		flex-direction: row
		justify-content: space-between
	.owl-page
		background: #eee
		height: 10px
		min-width: 10px
		width: 100%
		&.active
			background: $main-color
.hero-section
	display: flex
	padding: 200px 0
	padding: 20vh 0
	align-items: center
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: cover
	@media #{$media-xs}
		padding: 20px 0
	h1
		font-weight: 100
		margin-top: 10px
		@media #{$media-xs-min}
			font-size: 2rem
	p
		font-size: 1.2rem
		line-height: 1.4em
		@media #{$media-xs-min}
			line-height: 1.4em
			font-size: 1rem
	// .container
	.content
		background: rgba(255,255,255,0.85)
		border-radius: 2px
		padding: 20px 28px
		max-width: 700px
//----------------------------------
// END HERO
//----------------------------------


//----------------------------------
// SUBSCRIBE FIELD
//----------------------------------
.subscribe-field
	h4
	p
		margin-bottom: 1em
	.form-group
		position: relative
		input,
		button
			height: 40px
		input
			border-radius: 1px
		button
			position: absolute
			right: 0
			top: 0
			line-height: 40px
			padding: 0 10px
			background: #333
			border-top-right-radius: 1px
			border-bottom-right-radius: 1px
			transition: background 100ms
			span
				height: 40px
				font-size: 18px
				line-height: 34px
				color: #fff
				vertical-align: middle
			&:hover
				background: transparent
				span
					color: #333
	&__footer
//----------------------------------
// END SUBSCRIBE FIELD
//----------------------------------


//----------------------------------
// CATEGORIES ON MAIN-PAGE
//----------------------------------
.categories-page
	padding-top: 40px
	padding-bottom: 40px
	@media #{$media-xs}
		padding-top: 20px
		padding-bottom: 20px
.categories-section
	hr
		border-color: #eee
		display: none !important
	.item-description
		& > *
			margin-left: 40px
			@media #{$media-xs-min}
				margin-left: 0
	.desc_row
		@media #{$media-xs-min}
			display: none
	.h2, h2
		color: #333
		font-size: 28px
		font-weight: 600
		margin-bottom: 0.8em
		@media #{$media-xs-min}
			font-size: 18px
		a
			background: #fff
			padding: 6px 12px
			line-height: 1em
			color: inherit
			font-size: inherit
			font-weight: inherit
			@media #{$media-xs-min}
				background: transparent
	// .blackbut
	// 	border: 2px solid #333
	// 	background: #333
	// 	display: inline-block
	// 	color: #fff
	// 	padding: 10px 24px
	// 	text-transform: uppercase
	// 	font-size: 12px
	// 	font-weight: 600
	// 	letter-spacing: 0.05em
	// 	margin-bottom: 20px
	// 	&:hover
	// 		text-decoration: none
	// 		color: #333
	// 		background: #fff
	%pseudo-border
		content: '' !important
		display: block
		position: absolute
		transition: width 200ms linear, height 200ms linear
		background: #333
	.blackbut
		outline: 2px solid #eee
		outline-offset: -2px
		// background: #333
		position: relative
		display: inline-block
		color: #333
		padding: 12px 28px
		text-transform: uppercase
		font-size: 12px
		font-weight: 600
		letter-spacing: 0.05em
		margin-bottom: 20px
		&:before
			@extend %pseudo-border
			left: 0
			top: 0
			width: 0
			height: 2px
			transition-delay: 600ms
		&:after
			@extend %pseudo-border
			right: 0
			bottom: 0
			width: 0
			height: 2px
			transition-delay: 200ms
		span
			&:before
				@extend %pseudo-border
				bottom: 0
				left: 0
				height: 0
				width: 2px
				transition-delay: 0ms
			&:after
				@extend %pseudo-border
				top: 0
				right: 0
				height: 0
				width: 2px
				transition-delay: 400ms
		&:hover
			&:before
				width: 100%
				transition-delay: 0ms
			&:after
				width: 100%
				transition-delay: 400ms
			span
				&:before
					height: 100%
					transition-delay: 600ms
				&:after
					height: 100%
					transition-delay: 200ms
	& > .row
		border: 2px solid #eee
		border-radius: 1px
		margin: 30px
		@media #{$media-xs}
			margin-bottom: 60px
		@media #{$media-xs-min}
			margin-bottom: 80px
			text-align: center
		.category-item
			margin: -30px
		&:nth-of-type(odd)
			.h2, h2
				position: relative
				top: -5px
				margin-left: -9px
				@media #{$media-xs-min}
					margin-left: 0
		&:nth-of-type(even)
			.h2, h2
				position: relative
				top: -5px
				margin-left: 60px
				@media #{$media-xs-min}
					margin-left: 0
//----------------------------------
// END CATEGORIES ON MAIN-PAGE
//----------------------------------


//----------------------------------
// WHERE TO BUY
//----------------------------------
.where-to-buy
	background: url('../img/bg/map-ukraine-outline.svg') 50% 50% no-repeat
	background-size: contain
	padding: 50px 15px 100px
	@media #{$media-xs-min}
		padding: 10px 15px
		text-align: center
	h2
		margin-bottom: 1em
	p
		line-height: 1.4em
	.cities-buttons
		margin-top: 40px
		%pseudo-border
			content: '' !important
			display: block
			position: absolute
			transition: width 200ms linear, height 200ms linear
			background: #333
		a
			display: block
			color: #333
			outline: 2px solid #ddd
			outline-offset: -2px
			padding: 10px 24px
			text-decoration: none
			transition: background 100ms
			margin: 0 22px 24px
			width: 180px
			position: relative

			&:before
				@extend %pseudo-border
				left: 0
				top: 0
				width: 0
				height: 2px
				transition-delay: 600ms
			&:after
				@extend %pseudo-border
				right: 0
				bottom: 0
				width: 0
				height: 2px
				transition-delay: 200ms
			span
				&:before
					@extend %pseudo-border
					bottom: 0
					left: 0
					height: 0
					width: 2px
					transition-delay: 0ms
				&:after
					@extend %pseudo-border
					top: 0
					right: 0
					height: 0
					width: 2px
					transition-delay: 400ms
			&:hover
				&:before
					width: 100%
					transition-delay: 0ms
				&:after
					width: 100%
					transition-delay: 400ms
				span
					&:before
						height: 100%
						transition-delay: 600ms
					&:after
						height: 100%
						transition-delay: 200ms
			span
				overflow: hidden
				text-overflow: ellipsis
				display: block
				white-space: nowrap
				max-width: 100%
//----------------------------------
// END WHERE TO BUY
//----------------------------------

//----------------------------------
// CART
//----------------------------------
.cart-items-holder
	margin: 120px 0 40px
	padding: 0 20px
.cart-item
	font-size: 0
	letter-spacing: 0
	margin: 20px 0
	white-space: nowrap
	@media #{$media-xs}
		border-bottom: 2px solid #ccc
		padding-bottom: 20px
	.left-side,
	.right-side
		display: inline-block
		font-size: 1rem
		vertical-align: middle
		@media #{$media-xs}
			display: block
			height: auto
			text-align: center
	.left-side
		width: 40%
		@media #{$media-xs}
			width: 100%
		.item-name,
		.item-image
			display: inline-block
			vertical-align: middle
			@media #{$media-xs}
				display: block
		.item-image
			width: 120px
			@media #{$media-xs}
				width: 100%
			a
				display: block
				img
		.item-name
			margin-left: 20px
			color: #333
			font-weight: 600
			white-space: normal
			width: calc(100% - 92px)
			@media #{$media-xs}
				line-height: 2em
				font-size: 2rem
				margin: 0
				width: 100%
	.right-side
		text-align: right
		padding-top: 2px
		width: 60%
		@media #{$media-xs}
			text-align: center
			width: 100%
		select
			padding: 2px 10px
		.item-properties
			white-space: normal
			button
				cursor: default
				border-radius: 0
				padding: 10px 10px
				display: inline-block
				text-transform: uppercase
				font-size: 12px
				font-weight: 600
				letter-spacing: 0.05em
				line-height: 1em
				margin: 0
				border: 2px solid #eee
				background: #eee
				color: #333
		.item-price
			padding: 0 10px
			@media #{$media-xs}
				display: block
				padding: 18px 10px
			.price-cost
				font-size: 1.6em
			.currency
		.item-remove
			.remove-button
				font-size: 18px
				@media #{$media-xs}
					color: #fff
					display: block
					background: #e43131
					height: auto
					padding: 10px 10px
					width: 100%
			@media #{$media-xs}
				display: block
				text-align: center

.make-order-button-holder
	padding: 0 20px
	margin: 0 0 60px
	.btn
		@media #{$media-xs}
			padding: 15px 0
			display: block
//----------------------------------
// END CART
//----------------------------------


//----------------------------------
// ABOUT PAGE
//----------------------------------
.about-page
	padding-bottom: 40px
	@media #{$media-lg}
		padding-top: 100px
	.bottom-bar
		margin-top: 2em
	br
		@media #{$media-md}
			display: none
	h1
		@media #{$media-lg}
			margin-top: 0
			white-space: nowrap
//----------------------------------
// END ABOUT PAGE
//----------------------------------

//----------------------------------
// CONTACTS PAGE
//----------------------------------
.contacts-page
	padding-top: 40px
	padding-bottom: 80px
	.buttons-holder
		button
			margin: 4px 4px 4px 0
.contact-form
	.help-block
		text-align: right
		font-size: 12px
	label
		font-weight: 400
	input, textarea
		width: 100%
	textarea
		min-height: 140px
	.input-file
		text-decoration: underline
	&-main
		background: #f7f7f7 url('../img/bg/09.png') 0 0 repeat
		padding: 20px

.google-map
	transition: none
	height: 475px
	width: 100%
	@media #{$media-sm}
		max-height: 80vh
	*
		transition: none

.buttons-holder,
.adresses-section
	margin-bottom: 20px
.adresses-section

//----------------------------------
// END CONTACTS PAGE
//----------------------------------

//----------------------------------
// ORDER FORM
//----------------------------------
.order-form-page
	padding-bottom: 60px
	label
		font-weight: 600
	.total-price
		font-size: 2rem
		color: #ff3737
		font-weight: 600
		margin: 1em 0 1.2em
		display: block
	.form-group
		a
			color: inherit
			font-weight: inherit
			font-size: inherit
			text-decoration: underline
			&:hover
				opacity: 0.8
	.text-inputs-group
		input
			margin: 6px 10px 6px 0
//----------------------------------
// END ORDER FORM
//----------------------------------


//----------------------------------
// TEST PAGE
//----------------------------------
.test-page
	a
		line-height: 2em
		font-size: 1rem
//----------------------------------
// END TEST PAGE
//----------------------------------


//----------------------------------
// TEST
//----------------------------------
.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------
