// article content
article
	h1 Стили контентных страниц
	h3 Базовые стили
	time Опубликовано 24 августа, 2016г. в 9:12
	img.pull-left(src="http://placehold.it/350x150", alt="basic image")
	p Товарищи! дальнейшее развитие различных форм деятельности влечет за собой <b>процесс внедрения</b> и модернизации форм развития. Не следует, однако забывать, что консультация с широким активом обеспечивает широкому кругу (специалистов) <i>участие в формировании модели</i> развития.
	p С другой <a href="#">стороны консультация</a> с широким активом <u>позволяет выполнять важные задания по разработке</u> модели развития. Задача организации, в особенности же начало повседневной работы по формированию позиции способствует подготовки и <strike>реализации систем массового</strike> участия.
	q Успех – это не доминирование над другими, это доминирование над собственным потенциалом.
	img(src="http://placehold.it/1400x150", alt="basic image")
	blockquote(cite="http://example.source/") С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке новых предложений. Разнообразный и богатый опыт консультация с широким активом представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же консультация с широким активом в значительной степени обуславливает создание форм развития.
	hr
	h3 Нумерованные и простые списки
	ul
		li С другой стороны рамки и место обучения кадров способствует подготовки и.
		li Равным образом постоянный количественный рост и сфера нашей.
		li Если у вас есть какие то интересные предложения, обращайтесь! Студия дизайна.
		li Разнообразный и богатый опыт консультация с широким активом.
		li Если у вас есть какие то интересные предложения,.
	ol
		li Повседневная практика идейные соображения высшего порядка
		li Равным образом постоянный количественный рост и сфера
		li Товарищи! сложившаяся структура организации представляет
		li Идейные соображения высшего порядка, а также. С другой стороны укрепление и развитие структуры
		li Повседневная практика показывает, идейные соображения высшего порядка, а
		li С другой стороны укрепление и развитие значимость этих проблем настолько.
		li Товарищи! постоянное информационно-пропагандистское обеспечение нашей
		li Равным образом постоянный количественный рост и сфера нашей активности играет
		li Равным образом консультация с широким активом
		li С другой стороны рамки и место обучения кадров
		li Значимость этих проблем настолько очевидна, что
		li Равным образом рамки и место обучения кадров. Равным образом рамки и место
		li Разнообразный и богатый опыт консультация с широким активом
	hr
	h3 Таблица
	table
		thead
			tr
				th Заголовок
				th Заголовок
				th Заголовок
				th Заголовок
		tbody
			tr
				td Данные
				td Данные
				td Данные
				td Данные
			tr
				td Данные
				td Данные
				td Данные
				td Данные
	hr
	h3 Медиа
	video(controls="true")
		source(src="http://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4")
	audio(controls="true")
		source(src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg")
	hr

	h2 Заголовок 1
	p Таким образом реализация намеченных плановых <mark> заданий влечет</mark> за собой процесс внедрения и модернизации новых предложений. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании модели развития.
	h3 Заголовок 2
	p Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений. Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
	h4 Заголовок 3
	p Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
	h5 Заголовок 4
	p Товарищи! сложившаяся структура организации требуют от нас анализа новых предложений. Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки направлений прогрессивного развития.
