.row
	ul.cart-items-holder
		mixin cart-item (name, img, ...prop)
			li.cart-item
				a.left-side(href='item-card.html')
					span.item-image
						.image-holder
							img(src= img, alt= name)
					.item-name= name
				.right-side
					span.item-properties
						-for (key in prop)
							button= prop[key]
					span.item-price
						span.price-cost 12700
						span.currency грн.
					span.item-remove
						button.remove-button
							span.glyphicon.glyphicon-trash(aria-hidden="true")
		+cart-item(
			'Сенатор',
			'http://www.galameble.com/wp-content/uploads/tempo_640_1.jpg',
			'Красный',
			'PENTA'
		)
		+cart-item(
			'Милана',
			'http://www.galameble.com/wp-content/uploads/Verona_sofa_640-2.jpg',
			'Синий',
			'NOVEL'
		)
		+cart-item(
			'Доната',
			'http://www.galameble.com/wp-content/uploads/gala-kanapa-asti.jpg',
			'Желтый',
			'RITZ'
		)
		+cart-item(
			'Сенатор',
			'http://www.galameble.com/wp-content/uploads/stella_sofa_miniatura.jpg',
			'Красный',
			'TRINITY'
		)


.row
	.make-order-button-holder
		a(href="order.html").btn.btn-primary
			span Оформить
