.container.categories-section
	.row
		.category-item.clearfix
			.col-md-6.col-md-push-6.itop_img
				div
					a(href='item-card.html', rel='nofollow', tabindex="-1")
						img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/renata/c/1/c.renata.jpg', alt='Трехместный диван Renata')
			.col-md-6.col-md-pull-6.item-description.col-xs-center
				p.h2.text-uppercase.normal
					a.item_a(href='item-card.html') Модульные диваны
				.desc_row
					p
						| Красивые. Функциональные. Надежные внутри
						br
						|  Раскладные диваны Pufetto создадут дополнительный комфорт
						br
						| Гарантия спокойного сна и долгой службы!
				p.h3 от 8 800 грн.
				br.hidden-md
				a.blackbut.bold(href='item-card.html', rel='nofollow')
					span Все модели
	hr.row
	.row
		.category-item.clearfix
			.col-md-6.itop_img
				div
					a(href='item-card.html', rel='nofollow', tabindex="-1")
						img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/greta/d/1/d.greta.l.jpg', alt='Угловой диван Greta')
			.col-md-6.item-description.col-xs-center
				p.h2.text-uppercase.normal
					a.item_a(href='item-card.html') Угловые диваны
				.desc_row
					p
						| Идея. Креатив. Разнообразие
						br
						| Угловые диваны Pufetto создадут много комфортного пространства
						br
						| и подчеркнут Ваш особенный взгляд на интерьер!
				p.h3 от 13 600 грн.
				br.hidden-md
				a.blackbut.bold(href='item-card.html', rel='nofollow')
					span Все модели
	hr.row
	.row
		.category-item.clearfix
			.col-md-6.col-md-push-6.itop_img
				div
					a(href='item-card.html', rel='nofollow', tabindex="-1")
						img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/salerno/g/1/g.salerno.jpg', alt='Двухспальная кровать Salerno')
			.col-md-6.col-md-pull-6.item-description.col-xs-center
				p.h2.text-uppercase.normal
					a.item_a(href='item-card.html') Прямые диваны
				.desc_row
					p
						| Удобная кровать нужна в каждом доме.
						br
						| Мы, в Pufetto, предлагаем Вам не только просторную двуспальную кровать, а еще и пример итальянского стиля и долговечного качества.
				p.h3 от 9 700 грн.
				br.hidden-md
				a.blackbut.bold(href='item-card.html', rel='nofollow')
					span Все модели
	hr.row
	.clearfix

