footer.footer-main
	nav.container
		.row
			.col-md-12
				table
					tbody
						tr.hidden-xs.hidden-sm
							td
								h4 О нас
								ul
									li
										a(href='about.html', rel='nofollow') Кто мы
									li
										a(href='about.html#feedbacks', rel='nofollow') Отзывы покупателей
									li
										a(href='about.html#map-about', rel='nofollow') Где найти?
							td
								h4 Каталог товаров
								ul
									li
										a(href='catalog.html', rel='nofollow') Модульные диваны
									li
										a(href='catalog.html', rel='nofollow') Угловые диваны
									li
										a(href='catalog.html', rel='nofollow') Прямые диваны
							td
								h4 Блог
								ul
									li
										a(href='blog.html', rel='nofollow') Новые записи
									li
										a(href='blog.html', rel='nofollow') Самые популярные
									li
										a(href='blog.html', rel='nofollow') Просматривыемые
							td
								h4 Контакты
								ul
									li
										a(href='contacts.html', rel='nofollow') Связаться с нами
									li
										a(href='contacts.html#cellphones', rel='nofollow') Номера телефонов
									li
										a(href='contacts.html#map', rel='nofollow') Карта
							td.subscribe-field.subscribe-field__footer(width="320")
								h4 Подпишитесь на нас
								p И мы оповестим Вас о скидках, акциях и новых точках продаж. Вы сможете отписаться в любой момент.
								form(action="#")
									.form-group
										input(type="text" placeholder="Как с Вами связаться?")
										button
											span.glyphicon.glyphicon-ok(aria-hidden="true")
							//- td(width="320")
							//- 	h4 Напишите нам
							//- 	form(action="#")
							//- 		.form-group
							//- 			input(type="text" placeholder="Как с Вами связаться?")
							//- 		.form-group
							//- 			input(type="text" placeholder="Ваше имя")
							//- 		.form-group
							//- 			textarea#feedback-message-textarea(name="feedback-message-textarea", cols="30", rows="10", placeholder="Введите сообщение")
							//- 		.form-group
							//- 			input(type="submit" placeholder="Отправить")
	.container.social-networks-section
		.row
			ul.col-md-12
				li
					a(href='https://twitter.com/#!/Amers_mebel', target='_blank')
						include ../svg/socials/twitter-logo.svg
				li
					a(href='http://www.facebook.com/profile.php?id=100003707553214', target='_blank')
						include ../svg/socials/facebook-letter-logo.svg
				li
					a(href='http://vk.com/id137747249', target='_blank')
						include ../svg/socials/vk-logo-of-social-network.svg
				li
					a(href='http://www.odnoklassniki.ru/profile/531164806356', target='_blank')
						include ../svg/socials/odnoklassniki-logo.svg
				li
					a(href='http://my.mail.ru/?from=content', target='_blank')
						include ../svg/socials/mail-ru_logo.svg

	.container.copyright-section
		.row
			.col-md-6.col-sm-12
				p.copyright-section__copyright
					| © 2012 TM "AMERS" Все права защищены.
			.col-md-6.col-sm-12
				p.copyright-section__developers
					| Дизайн и разработка: <a href="#">наш сайт</a>
