#mobile-navigation.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					ul
						li
							a(href='test.html') Тест
						li
							a(href='about.html') О нас
						li
							a(href='catalog.html') Каталог
						li
							a(href='blog.html') Блог
						li
							a(href='feedbacks.html') Отзывы
						li
							a(href='contacts.html') Контакты
						li
							a(href='contacts.html#map') Магазины
						li
							a(href='catalog.html') Модульные диваны 
						li
							a(href='catalog.html') Угловые диваны
						li
							a(href="tel:0472733168").binct-phone-number-1 (047) 273-31-68


#cart-sidebar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				include ./cart-items


#search-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					//- h2 Поиск
					form(action="#").col-md-12.search-wrapper
						.input-form.search-main-input-group
							input(type="text" placeholder="Поиск по сайту")
							input(type="submit" value="")
						ul.tag-cloud-1
							li
								a.btn.btn-primary(href="#")
									span Модульные диваны
							li
								a.btn.btn-primary(href="#")
									span Угловые диваны
							li
								a.btn.btn-primary(href="#")
									span Прямые диваны
						.search-main-results-holder
							mixin result (name, type, description, image)
								.search-result
									h3= name
									h4= type
									if image
										img(src= image, alt= name)
									p= description


#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-login-email") Email
							input(type="text")#popup-login-email
						.form-group
							label(for="popup-login-password") Пароль
							input(type="password")#popup-login-password
							a(href="password-recovery.html" data-toggle="modal" data-target="#forgot-modal").forgot-password Забыли?
						.form-group.checkbox-group
							input(type="checkbox")#popup-login-save
							label(for="popup-login-save") Сохранить
						.button-group
							button.btn.btn-primary(type="submit")
								span Вход
							a.btn.btn-under(href="signup.html" data-toggle="modal" data-target="#register-modal")
								span Регистрация


#register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-register-email") Email *
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-email") ФИО
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-email") Номер телефона
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-password") Пароль *
							input(type="password")#popup-register-password
						.form-group
							label(for="popup-register-password") Пароль повторно *
							input(type="password")#popup-register-password
						.form-group.checkbox-group
							input(type="checkbox")#popup-register-agr
							label(for="popup-register-agr") Согласен с правилами *
						.button-group
							button.btn.btn-primary(type="submit")
								span Регистрация


#forgot-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-forgot-email") Email *
							input(type="text")#popup-forgot-email
						.button-group
							button.btn.btn-primary(type="submit")
								span Напомнить пароль


#contact-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").contact-form.contact-form-main
						.form-group
							label(for='exampleInputName') Ваше имя
							input#exampleInputName(type='text', placeholder='Введите Ваше имя')
						.form-group
							label(for='exampleInputEmail1') Контакт *
							input#exampleInputEmail1(type='text', placeholder='Телефон или почта')
							p.help-block (000) 000-00-00 или example@domain.nm
						.form-group
							label(for='exampleInputMessage') Текст *
							textarea#exampleInputMessage(type='password', placeholder='Введите Ваше сообщение')
						.form-group.input-file
							input#exampleInputFile(type='file')
							label(for='exampleInputFile') Прикрепить файл
						button.btn.btn-primary(type='submit')
							span Отправить
