#mobile-navigation.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					ul
						li
							a(href='test.html') Тест
						li
							a(href='about.html') О нас
						li
							a(href='catalog.html') Каталог
						li
							a(href='catalog-sales.html') Распродажа 
								.badge %
						li
							a(href='blog.html') Блог
						li
							a(href='feedback.html') Отзывы
						li
							a(href="delivery.html") Доставка и оплата
						li
							a(href="warranty.html") Гарантия
						li
							a(href='contacts.html') Контакты
						li
							a(href='catalog.html') Модульные диваны 
						li
							a(href='catalog.html') Угловые диваны
						li
							a(href="tel:0472733168").binct-phone-number-1 (047) 273-31-68
						li
							a(href="#") UA


#cart-sidebar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				include ./cart-items


#search-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					//- h2 Поиск
					form(action="#").col-md-12.search-wrapper
						.input-form.search-main-input-group
							input(type="text" placeholder="Поиск по сайту")
							input(type="submit" value="")
						ul.tag-cloud-1
							li
								a.btn.btn-primary(href="#")
									span Модульные диваны
							li
								a.btn.btn-primary(href="#")
									span Угловые диваны
							li
								a.btn.btn-primary(href="#")
									span Прямые диваны
						.search-main-results-holder
							mixin result (name, type, description, image)
								.search-result
									h3= name
									h4= type
									if image
										img(src= image, alt= name)
									p= description


#login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-login-email") Email
							input(type="text")#popup-login-email
						.form-group
							label(for="popup-login-password") Пароль
							input(type="password")#popup-login-password
							a(href="password-recovery.html" data-toggle="modal" data-target="#forgot-modal").forgot-password Забыли?
						.form-group.checkbox-group
							input(type="checkbox")#popup-login-save
							label(for="popup-login-save") Сохранить
						.button-group
							a.btn.btn-primary(type="submit" href="user-actions.html")
								span Вход
							a.btn.btn-under(href="signup.html" data-toggle="modal" data-target="#register-modal")
								span Регистрация


#register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-register-email") Email *
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-email") ФИО
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-email") Номер телефона
							input(type="text")#popup-register-email
						.form-group
							label(for="popup-register-password") Пароль *
							input(type="password")#popup-register-password
						.form-group
							label(for="popup-register-password") Пароль повторно *
							input(type="password")#popup-register-password
						.form-group.checkbox-group
							input(type="checkbox")#popup-register-agr
							label(for="popup-register-agr") Согласен с правилами *
						.button-group
							button.btn.btn-primary(type="submit")
								span Регистрация


#forgot-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-forgot-email") Email *
							input(type="text")#popup-forgot-email
						.button-group
							button.btn.btn-primary(type="submit")
								span Напомнить пароль


#change-password-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").col-md-12.profile-form
						.form-group
							label(for="popup-old-password") Старый пароль *
							input(type="text")#popup-old-password
						.form-group
							label(for="popup-new-password") Новый пароль *
							input(type="text")#popup-new-password
						.form-group
							label(for="popup-new-password-repeat") Новый пароль повторно *
							input(type="text")#popup-new-password-repeat
						.button-group
							button.btn.btn-primary(type="submit")
								span Сохранить

#contact-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.row
					form(action="#").contact-form.contact-form-main
						.form-group
							label(for='exampleInputName') Ваше имя
							input#exampleInputName(type='text', placeholder='Введите Ваше имя')
						.form-group
							label(for='exampleInputEmail1') Контакт *
							input#exampleInputEmail1(type='text', placeholder='Телефон или почта')
							p.help-block (000) 000-00-00 или example@domain.nm
						.form-group
							label(for='exampleInputMessage') Текст *
							textarea#exampleInputMessage(type='password', placeholder='Введите Ваше сообщение')
						.form-group.input-file
							input#exampleInputFile(type='file')
							label(for='exampleInputFile') Прикрепить файл
						button.btn.btn-primary(type='submit')
							span Отправить

#pictures-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog
		.modal-content
			.container-fluid
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.pictures-modal-holder
					mixin image (src)
						a.image(href= src, style="background-image:url(" + src + ")")
							img(src= src)

					+image(
						"http://zegen.ua/img/p/1/2/1/121.jpg"
					)
					+image(
						"https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg"
					)
					+image(
						"img/bg/ec4c8f25319415.56344c8ea94d5.jpg"
					)
					+image(
						"http://www.galameble.com/wp-content/uploads/Gala_Collezione_Poduszka_Doodle640.jpg"
					)
					+image(
						"http://www.galameble.com/wp-content/uploads/camelia_slider.jpg"
					)
					+image(
						"http://www.galameble.com/wp-content/uploads/slider_%C5%9Bwi%C4%99ta.jpg"
					)
					+image(
						"http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg"
					)
					+image(
						"https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg"
					)
					+image(
						"https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg"
					)
					+image(
						"https://img.clipartfest.com/275c66a9f78681231387ca1d37a422fd_-about-convienence-store-on-store_788-468.jpeg"
					)


#sale-item-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg
		.modal-content
			.container
				button.close(type='button', data-dismiss='modal', aria-label='Close')
				.catalog-item-sale-modal
					.row
						.col-md-6
							.image-holder
								.sale-shield
									span Киев
								img(src='http://www.galameble.com/wp-content/uploads/tempo_640_1.jpg', alt= 'name')
						.col-md-6.catalog-item-sale-modal-description
							h2 Диана
							h4 Угловой диван
							p
								strike 12600 
								b  11000 
									small грн
							.catalog-item-sale-modal-details
								p Универсальный диван трасформер, конструкция которого легко позволяет самостоятельно изменять угловое изделие на прямой диван и наоборот. Механизм раскладки "Еврокнижка" без особых усилий превращает изделие в просторную двуспальную кровать, а вместительные короба для белья помогут разместить множество предметов. Также в диване предусмотрены ниши в подлокотниках, которые создают дополнительное место для вещей, а так же практичные ламинированные накладки с помощью которых подлокотники легко содержать в чистоте.
								p Стильная и комфортная модель "COUNTRY" - это сочетание простых линий и в то же время изысканных форм, понятных каждому. Удобное посадочное место позволит полноценно расслабится после тяжелого рабочего дня. Мягкие быльца дивана дополняют полноценный образ данной модели. Она является популярным решением для самых разнообразных вариантов интерьера. Представлена прямым нераскладным диваном, креслом и пуфом. Деревянные ножки модели изготовлены без декоративной покраски.
