header.site-top
	.light-line
		.container
			.row
				.col-md-9.col-sm-9.col-xs-3
					ul.secondary-navigation.list-inline
						li
							a(href='index.html' tabindex="-1")
								img#logo-main.logo-main(src='img/icons/logo-main.png', width='997', height='280', alt='Amers логотип', title='Перейти на главную страницу')
						li.hidden-xs.hidden-sm
							a(href='about.html') О компании
						li.hidden-xs.hidden-sm
							a(href='delivery.html') Доставка и оплата
						li.hidden-xs.hidden-sm
							a(href='warranty.html') Гарания
						li.hidden-xs.hidden-sm
							a(href='feedback.html') Отзывы
						li.hidden-xs.hidden-sm
							a(href='blog.html') Блог
						li.hidden-xs.hidden-sm
							a(href='contacts.html') Контакты
				.col-md-3.col-sm-3.col-xs-9
					ul.user-controls-panel.list-inline.text-right
						li
							a(href="#").
								UA
						li
							a(href="#" data-toggle="modal" data-target="#search-modal")
								// span.glyphicon.glyphicon-search(aria-hidden="true")
								i.icon-search(aria-hidden="true")
						//- li
						//- 	a(href="#" data-toggle="modal" data-target="#login-modal")
						//- 		// span.glyphicon.glyphicon-log-in(aria-hidden="true")
						//- 		i.icon-login-1(aria-hidden="true")
						li
							a(href="#" data-toggle="modal" data-target="#cart-sidebar")
								// span.glyphicon.glyphicon-shopping-cart(aria-hidden="true")
								i.icon-basket(aria-hidden="true")
						li.visible-xs-inline-block.visible-sm-inline-block
							a(href="#" data-toggle="modal" data-target="#mobile-navigation").sandvich
								span.glyphicon.glyphicon-option-vertical(aria-hidden="true")
	.dark-line.visible-lg-block.visible-md-block
		.container
			.row
				.col-md-10
					ul.primary-navigation.list-inline
						li.dropdown
							a(href='catalog.html' data-toggle="dropdown") Диваны 
							ul.dropdown-menu
								li
									a(href='catalog.html') Модульные диваны
								li
									a(href='catalog.html') Угловые диваны
								li
									a(href='catalog.html') Прямые диваны
						li.dropdown
							a(href='catalog.html' data-toggle="dropdown") Кресла 
							ul.dropdown-menu
								li
									a(href='catalog.html') Со спальным местом
								li
									a(href='catalog.html') Без раскладки
						li
							a(href='catalog.html') Пуфы 
						li.dropdown
							a(href='catalog.html' data-toggle="dropdown") Кровати 
							ul.dropdown-menu
								li
									a(href='catalog.html') Кровати двухспальные
								li
									a(href='catalog.html') Кровати односпальные
						li.dropdown
							a(href='catalog.html' data-toggle="dropdown") Матрасы 
							ul.dropdown-menu
								li
									a(href='catalog.html') Пружинные матрасы
								li
									a(href='catalog.html') Беспружинные матрасы
						li
							a(href='catalog.html') Подушки 
						li.dropdown
							a(href='catalog.html' data-toggle="dropdown") Аксесуары 
							ul.dropdown-menu
								li
									a(href='contacts.html#city') Подушки
						//- li.dropdown
						//- 	a(href='contacts.html#map' data-toggle="dropdown")
						//- 		| Магазины 
						//- 	ul.dropdown-menu
						//- 		li
						//- 			a(href='contacts.html#city') Киев
						//- 		li
						//- 			a(href='contacts.html#city') Сумы
						//- 		li
						//- 			a(href='contacts.html#city') Харьков
						//- 		li
						//- 			a(href='contacts.html#city') Одесса
						//- 		li
						//- 			a(href='contacts.html#city') Белая Церковь
						//- 		li
						//- 			a(href='contacts.html#city') Полтава
						//- 		li
						//- 			a(href='contacts.html#city') Запорожье
						//- 		li
						//- 			a(href='contacts.html#city') Хмельницкий
						//- 		li
						//- 			a(href='contacts.html#city') Черкассы
						li
							a(href='catalog-sales.html') Распродажа 
							.badge %
						li.hidden
							a(href='feedback.html') Отзывы

				.col-md-2.text-uppercase.text-right
					ul.main-cellphone
						li
							a(href="tel:0472733168" tabindex="-1").binct-phone-number-1 (047) 273-31-68
