script(src='external/jquery/dist/jquery.min.js')
script(src='external/jquery.browser/dist/jquery.browser.min.js')
script(src='external/bootstrap/dist/js/bootstrap.min.js')
//- script(src='js/pogorelov.js')
script(src='js/main.js')
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2yEFlh7UKQXEfNVR9P0B3qqSGbb8pF0Q&callback=initMap")
