doctype html
html(lang='ru')
	head
		title AMERS - О нас
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.wysiwyg.about-page
				.col-md-12.col-lg-4
					h1 О компании <br>”Amers”
				.col-md-12.col-lg-8
					p Производство мягкой мебели ”Amers” было создано 1998 году. С самого начала приоритетным направлением компании было изготовление недорогой, но  качественной мягкой мебели для ежедневного сна. Эта тенденция сохранилась и до сегодня. 
					p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели. 
					p Наш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
					p Наши клиенты по достоинству оценили надежность, комфорт и долговечность мебели нашего производства по всей Украине.
					p.bottom-bar.text-right С уважением, коллектив TM "Amers"

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
