doctype html
html(lang='ru')
	head
		title AMERS - О нас
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content.about-page
			.container-alt.wysiwyg
				.col-md-12.col-lg-4
					h1 О компании <br>”Amers”
				.col-md-12.col-lg-8
					p Производство мягкой мебели ”Amers” было создано 1998 году. С самого начала приоритетным направлением компании было изготовление недорогой, но  качественной мягкой мебели для ежедневного сна. Эта тенденция сохранилась и до сегодня. 
					p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели. 
					p Наш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
					p Наши клиенты по достоинству оценили надежность, комфорт и долговечность мебели нашего производства по всей Украине.
					img(src="http://dommino.ua/media/wysiwyg/aboutcompany/CRAFT_1_.png", alt="image")
					h3 Как мы стартовали и почему?
					p В 1996 году мы стартовали свою деятельность, как продавец мягкой мебели. Мы закупали ее у польского и украинского производителя и реализовывали сначала в городе Кривой Рог.  Единственное, вместо того чтобы заниматься продажами, нам приходилось часто заниматься исправлением у клиентов заводского брака. Мы принципиально отказывались работать с плохим продуктом. Поэтому мы пошли по более сложному пути и принялись производить мебель самостоятельно. 

				.col-md-12.col-lg-4
					h1 Наш опыт
				.col-md-12.col-lg-8
					h3 Благодаря ценному опыту!
					p Благодаря ценному опыту работы с европейским и украинским производителем,  у нас сформировалось свое индивидуальное видение того, каким должен быть качественный продукт. Мы уже знали, с помощью каких конструктивных элементов мы сможем дать потребителю высокопробную мебель, для которой будет время - не испытание. Так появился бренд Zlatamebel.  

					h3 Мебель для всех!
					p Мебель марки Zlatamebel была преимущественно премиальной (больших габаритов) и очень качественной. Когда у нас стало достаточно производственной мощности, мы решили расширить сегмент диванов. Началось активное изучение мебели семейного класса, которая производилась у нас в Украине. Она была, мягко говоря, отвратительной: после пару недель использования она скрипела, сидения продавливались. Это ведь не странно, поскольку диван буквально изготавливали из отходов. Например, вместо цельного листа поролона высокой плотности, производители использовали отходы в виде его склеенных обрезков, которым место на свалке, а не в Вашем доме.

					p И люди покупали такую мебель… Почему? Потому что им не предложили ничего лучше.  Тогда мы создали  линейку Dommino - бренд мягкой мебели среднего сегмента, который отличается своей простотой и доступностью. Она ориентирована на молодых развивающихся семей и людей, которые всегда сопоставляют цену и качество. 

					p Производство диванов можно сравнить с приготовлением еды в ресторане. Если шеф-повар готовит свой фирменный салат из испорченных продуктов, то это будет невкусно и опасно для здоровья. Такой же принцип действует и для производства мягкой мебели. Все «ингредиенты» должны быть высокого качества, идеально выверенные. Тогда это будет не только «вкусно», но и полезно здоровья.
					img(src="http://dommino.ua/media/wysiwyg/aboutcompany/CRAFT.jpg", alt="img")
					h3 AMERS - это конвейер 
					p Наше производство - это мебельный конвейер по новейшим технологиям премиум-сегмента, на котором оптимизированы все затраты, что делает продукцию максимально доступной для всех.Мы дали покупателю то, что нужно, а именно качественные диваны по ценам ниже рыночных, за счет прямых контактов с поставщиками. Хотите еще дешевле? Тогда хорошенько подумайте о здоровье Ваших детей...

					h3 Более 20 салонов по всей Украине...
					p К тому же нашу продукцию любят в Грузии, Казахстане, России. Мы не просто производим и продает свой продукт, мы задаем украинскому рынку новый стандарт того как нужно делать бизнес, а потребителю мы задаем новый уровень  высоких потребностей. Мы мечтаем, чтобы каждый человек хотел купить НЕ "нормальный диван", а "КЛАССНЫЙ!!!". Мечтаем, чтоб каждый бизнесмен хотел делать свое дело с полной ответственностью за последствия своего продукта. Эти принципы помогают нам покорять новые вершины и делать жизнь наших покупателей максимально комфортной...
					p.bottom-bar.text-right С уважением, коллектив TM "Amers"

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
