doctype html
html(lang='ru')
	head
		title AMERS - контакты
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content.contacts-page
			.page-label(style="background-image:url('http://dommino.ua/media//stg_bannersetter/images/1_6.png')")
				.container
					.row
						.col-md-12
							.catalog-category-name
								h1 Контакты
								p Выберайте город и обращайтесь в ближайший салон.

			.map-container
				#map.google-map

				.map-overlay
					#map-addresses-accordion.panel-group(role='tablist', aria-multiselectable='true')
						.panel.panel-default
							#heading-cherkassy.panel-heading(role='tab')
								h4.panel-title
									a(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-cherkassy', aria-expanded='true', aria-controls='tab-cherkassy')
										| Черкассы
							#tab-cherkassy.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='heading-cherkassy' data-lat="49.405594" data-lng="32.111898")
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг)  
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать

						.panel.panel-default
							#heading-kyiv.panel-heading(role='tab')
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-kyiv', aria-expanded='false', aria-controls='tab-kyiv')
										| Киев
							#tab-kyiv.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading-kyiv')
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary 
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон:  
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать
						.panel.panel-default
							#heading-charkov.panel-heading(role='tab')
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-charkov', aria-expanded='false', aria-controls='tab-charkov')
										| Харьков
							#tab-charkov.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading-charkov')
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary 
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать

						.panel.panel-default
							#heading-dnepr.panel-heading(role='tab')
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-dnepr', aria-expanded='false', aria-controls='tab-dnepr')
										| Днепр
							#tab-dnepr.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading-dnepr')
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary 
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать

						.panel.panel-default
							#heading-odessa.panel-heading(role='tab')
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-odessa', aria-expanded='false', aria-controls='tab-odessa')
										| Одесса
							#tab-odessa.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading-odessa')
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary 
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать

						.panel.panel-default
							#heading-lviv.panel-heading(role='tab')
								h4.panel-title
									a.collapsed(role='button', data-toggle='collapse', data-parent='#map-addresses-accordion', href='#tab-lviv', aria-expanded='false', aria-controls='tab-lviv')
										| Львов
							#tab-lviv.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading-lviv')
								.panel-body
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать
									.address-item
										b.
											ул. Большая Васильковская, 72, 
										span.
											2 подьезд, 3-й этаж
											ТЦ "Олимпийский"
											(вход со стороны ул. Физкультуры,
											2 подъезд находится справа от въезда в паркинг) 
										br
										b.
											Телефон: 
										span 044 383 55 33
										br
										br
										.btn.btn-primary(href="#" data-toggle="modal" data-target="#contact-modal")
											span Написать


		script.
			var markers = [
				['Черкассы', 'Офис', 49.405594, 32.111898],
				['Черкассы', 'Магазин в Черкассах', 49.415594, 32.101898],
				['Киев', 'ТЦ "Дарынок", 2 этаж, место 2ДМ-31, ул. Беломорская 1 А', 50.461513, 30.642854],
				['Киев', 'ТЦ "Б - 52", 3 этаж, ул. Братиславская 52', 50.491520, 30.610616],
				['Киев', 'Мебель Макс, пр. 40 лет октября 128', 50.384000, 30.480218],
				['Харьков', 'ТЦ «Sun City Plaza», Пр-т Московский, 199-А', 49.977229, 36.297531],
				['Белая церковь', '"Магазин 1001 дрібниця", ул. Куценко 1', 49.796312, 30.128979],
				['Полтава', 'Дом мебели "Ворскла", отдел "Piggagor interiors", ул.Октябрьская д.72, 3 этаж', 49.598253, 34.534521],
				['Запорожье', 'Мебельный салон "ROMANDI", ТРЦ "БРУСНИЧКА", 3 этаж, ул. Независимой Украины 57 В', 47.843419, 35.138088],
				['Запорожье', 'Мебельный салон "Формула Комфорта", ТЦ "Строй Центр", 2 этаж, ул. Космическая 121 Б', 47.788792, 35.221235],
				['Хмельницкмй', 'ТЦ "Сильпо", ул. Зареченская 34, 3 этаж', 49.423178, 26.987197],
				['Одесса', 'Малиновский рынок, Павильон Б12, Л21', 46.441641, 30.638545],
				['Одесса', 'ТЦ "Шестой элемент", ул. 6-й километр ', 46.449623, 30.663936]
			]

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	script(src='js/contacts.js')
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2yEFlh7UKQXEfNVR9P0B3qqSGbb8pF0Q&callback=initMap")
