doctype html
html(lang='ru')
	head
		title AMERS - контакты
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content.contacts-page
			.page-label(style="background-image:url('http://dommino.ua/media//stg_bannersetter/images/1_6.png')")
				.container
					.row
						.col-md-12
							.catalog-category-name
								h1 Контакты
								p Выберайте город и обращайтесь в ближайший салон.
			.container-alt
				.row
					.col-md-8
						.buttons-holder
							button.btn.active.btn-primary.js-button-map-trigger(data-address="ungallant" data-name="Penny Vasher" data-cellphones="+3(854)074-85-05, +4(889)241-97-10, +4(941)901-21-64" data-emails="flaxen@phototube.net")
								span Черкассы (Лабиринт)
							button.btn.btn-primary.js-button-map-trigger(data-address="memorization" data-name="Hillary Weisgerber" data-cellphones="+2(251)231-89-42, +1(857)184-95-47" data-emails="tribeless@spatterdock.edu")
								span Киев
							button.btn.btn-primary.js-button-map-trigger(data-address="Advaita" data-name="Eleni Pratley" data-cellphones="+8(640)736-48-31" data-emails="shaglike@dispirited.org")
								span Харьков
							button.btn.btn-primary.js-button-map-trigger(data-address="dipsas" data-name="Milagros Emory" data-cellphones="+2(542)911-80-57" data-emails="hydnaceous@outrigger.net")
								span Белая церковь
							button.btn.btn-primary.js-button-map-trigger(data-address="pyrotheology" data-name="Deb Warzecha" data-cellphones="+4(941)901-21-64" data-emails="opisthoglossal@precongratulation.net")
								span Полтава
							button.btn.btn-primary.js-button-map-trigger(data-address="corozo" data-name="Lennie Vicens" data-cellphones="+1(102)418-85-90" data-emails="butcherbird@duosecant.net")
								span Запорожье
							button.btn.btn-primary.js-button-map-trigger(data-address="uncorruptible" data-name="Dustin Donerson" data-cellphones="+4(889)241-97-10" data-emails="heartseed@hyracodontoid.co.uk")
								span Хмельницкмй
							button.btn.btn-primary.js-button-map-trigger(data-address="yttrofluorite" data-name="Kylie Seil" data-cellphones="+1(857)184-95-47, +4(941)901-21-64" data-emails="unfishlike@undergraduette.net")
								span Одесса
					.col-md-4
						.addresses-section
							h4.js-button-map-name TM AMERS
							p.js-button-map-address г. Черкассы, ул.Зелинского 1/1
							p Тел.:
								ul.js-button-map-cellphones
									li
										a(href="tel:0472733168") (047) 2733168
							p E-mail: 
								ul.js-button-map-emails
									li
										a(href="mailto:amers_mebel@list.ru") amers_mebel@list.ru


			#map.google-map

			.col-md-8.hidden
				form(action="#").contact-form.contact-form-main
					.form-group
						label(for='exampleInputName') Ваше имя
						input#exampleInputName(type='text', placeholder='Введите Ваше имя')
					.form-group
						label(for='exampleInputEmail1') Контакт *
						input#exampleInputEmail1(type='text', placeholder='Телефон или почта')
						p.help-block (000) 000-00-00 или example@domain.nm
					.form-group
						label(for='exampleInputMessage') Текст *
						textarea#exampleInputMessage(type='password', placeholder='Введите Ваше сообщение')
					.form-group.input-file
						input#exampleInputFile(type='file')
						label(for='exampleInputFile') Прикрепить файл
					button.btn.btn-primary(type='submit')
						span Отправить

		script.
			var markers = [
				['Черкассы', 'Офис', 49.405594, 32.111898],
				['Черкассы', 'Магазин в Черкассах', 49.415594, 32.101898],
				['Киев', 'ТЦ "Дарынок", 2 этаж, место 2ДМ-31, ул. Беломорская 1 А', 50.461513, 30.642854],
				['Киев', 'ТЦ "Б - 52", 3 этаж, ул. Братиславская 52', 50.491520, 30.610616],
				['Киев', 'Мебель Макс, пр. 40 лет октября 128', 50.384000, 30.480218],
				['Харьков', 'ТЦ «Sun City Plaza», Пр-т Московский, 199-А', 49.977229, 36.297531],
				['Белая церковь', '"Магазин 1001 дрібниця", ул. Куценко 1', 49.796312, 30.128979],
				['Полтава', 'Дом мебели "Ворскла", отдел "Piggagor interiors", ул.Октябрьская д.72, 3 этаж', 49.598253, 34.534521],
				['Запорожье', 'Мебельный салон "ROMANDI", ТРЦ "БРУСНИЧКА", 3 этаж, ул. Независимой Украины 57 В', 47.843419, 35.138088],
				['Запорожье', 'Мебельный салон "Формула Комфорта", ТЦ "Строй Центр", 2 этаж, ул. Космическая 121 Б', 47.788792, 35.221235],
				['Хмельницкмй', 'ТЦ "Сильпо", ул. Зареченская 34, 3 этаж', 49.423178, 26.987197],
				['Одесса', 'Малиновский рынок, Павильон Б12, Л21', 46.441641, 30.638545],
				['Одесса', 'ТЦ "Шестой элемент", ул. 6-й километр ', 46.449623, 30.663936]
			]

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2yEFlh7UKQXEfNVR9P0B3qqSGbb8pF0Q&callback=initMap")
	script(src='js/contacts.js')
