doctype html
html(lang='ru')
	head
		title AMERS - доставка и оплата
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content.delivery-page

			.page-label(style="background-image: url('https://www.pufetto.com.ua/img/pages/oid.jpg')")
				.container
					.row
						.col-md-12
							.catalog-category-name
								h1 Оплата и доставка
								p Удобно. Оперативно. Точно в срок. <br /> Ознакомьтесь с нашими выгодными условиями предоплаты и доставки!
							//- .buttons-holder
								button.btn.btn-transparent
									span Черкассы
								button.btn.btn-transparent
									span Киев
								button.btn.btn-transparent
									span Харьков
								button.btn.btn-transparent
									span Полтава
								button.btn.btn-transparent
									span Запорожье
								button.btn.btn-transparent
									span Хмельницкмй
								button.btn.btn-transparent
									span Одесса
									
			.container-alt
				.row
					.col-md-12.wysiwyg
						.row
							.col-md-12
								.catalog-category-name
									h2 СПЕЦИАЛЬНЫЕ УСЛОВИЯ
									hr
							.col-md-6.col-sm-12
								h3 СЕРТИФИКАТ НА СКИДКУ:
								ul
									li сертификат используется в качестве специальных условий при покупке, например: скидка с указанным номиналом.
									li ​сертификат может быть использован при покупке любого дивана, кровати или матраса.
									li нельзя использовать несколько сертификатов одновременно при покупке одной единицы продукции.

							.col-md-6.col-sm-12
								h3 ПОКУПАЙТЕ ВЫГОДНО!
								p При одновременной покупке нескольких крупногабаритных изделий (диван, кровать, матрас) Вы можете получить 500 грн. скидки на общую стоимость Вашего заказа.
						.row
							.col-md-12
								h2 МИНИМАЛЬНАЯ ПРЕДОПЛАТА
								hr
								p
									| Вы можете оплатить заказанный у нас товар частями: вначале – минимальный аванс, а остальную часть суммы после доставки вашего заказа.
								p В этом случае минимальная предоплата составит:
								p
									strong за кресло, пуф или матрас - 1500 гривен
									|  за одно изделие;
									br
									strong за диван или кровать - 4000 гривен
									|  за одно изделие;
									br
									strong за диван c ежедневным или гостевым механизмом - 8000 гривен
									|  за одно изделие;
									br
									strong за подушку или аксессуар - 100% стоимости
									|  данного изделия.
								p Мы просим о полной предоплате только в случае, если Вы заказываете аксессуар или матрас не типового размера.
						.row
							.col-md-12
								h2 ВАРИАНТЫ ОПЛАТЫ
								h4 Вы можете осуществить оплату вашего заказа наиболее удобным для вас способом:
								hr
							.col-md-4.col-sm-12
								p В любом отделении банка или посредством Интернет-банкинга, используя распечатанный счет-фактуру
							.col-md-4.col-sm-12
								p Наличными в наших шоу-румах (г. Киев, ул. Большая Васильковская, 72, 3-й этаж, г. Одесса, ул. Пишоновская 24/2)
							.col-md-4.col-sm-12
								p Пластиковой картой Visa или MasterCard (через платежные интернет системы)
						.row
							.col-md-12
								h3 БЕСПЛАТНАЯ ДОСТАВКА ВО ВСЕХ ГОРОДАХ, ГДЕ ЕСТЬ ШОУ-РУМ
								p Доставка в городах, где есть шоу-рум - бесплатная и включает занос изделий в квартиру, установку и уборку после установки. При этом для некоторых удаленных от областного центра районов Киевской области мы пользуемся услугами логистического подрядчика и готовы организовать доставку службой AMERS за небольшую доплату, в зависимости от населенного пункта. Точную информацию уточняйте у наших менеджеров.
								p Обращаем ваше внимание, что непосредственная доставка готового изделия компанией AMERS осуществляется в пятичасовой промежуток, который наши менеджеры персонально оговаривают с каждым клиентом накануне доставки.
								p В других населенных пунктах Украины доставка мебели осуществляется до ближайшего склада курьерской компании «Ин-Тайм» в вашем городе.
								p
									i
										small В других населенных пунктах Украины доставка мебели осуществляется до ближайшего склада курьерской компании «Ин-Тайм» в вашем городе.
								p
									i
										small ** При заказе вместе с кроватью - доставляется бесплатно.


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
