doctype html
html(lang='ru')
	head
		title greatest page
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.hero-section(style="background:url('/img/bg/ec4c8f25319415.56344c8ea94d5.jpg') no-repeat 50% 50% / cover;")
				.container
					.content
						h1 Качественная мебель для ежедневного сна.
						p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.
			br
			.clearfix
			.container.categories-section
				.row
					.category-item.clearfix
						.col-md-6.col-md-push-6.itop_img
							div
								a(href='/divany-i-kresla/raskladniye-divany/', rel='nofollow')
									img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/renata/c/1/c.renata.jpg', alt='Трехместный диван Renata')
						.col-md-6.col-md-pull-6.item-description.col-xs-center
							p.h2.text-uppercase.normal
								a.item_a(href='/divany-i-kresla/raskladniye-divany/') Модульные диваны
							.desc_row
								p
									| Красивые. Функциональные. Надежные внутри
									br
									|  Раскладные диваны Pufetto создадут дополнительный комфорт
									br
									| Гарантия спокойного сна и долгой службы!
							p.h3 от 8 800 грн.
							br.hidden-md
							a.blackbut.bold(href='/divany-i-kresla/raskladniye-divany/', rel='nofollow') Все модели
				hr.row
				.row
					.category-item.clearfix
						.col-md-6.itop_img
							div
								a(href='/divany-i-kresla/ugloviye-divany/', rel='nofollow')
									img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/greta/d/1/d.greta.l.jpg', alt='Угловой диван Greta')
						.col-md-6.item-description.col-xs-center
							p.h2.text-uppercase.normal
								a.item_a(href='/divany-i-kresla/ugloviye-divany/') Угловые диваны
							.desc_row
								p
									| Идея. Креатив. Разнообразие
									br
									| Угловые диваны Pufetto создадут много комфортного пространства
									br
									| и подчеркнут Ваш особенный взгляд на интерьер!
							p.h3 от 13 600 грн.
							br.hidden-md
							a.blackbut.bold(href='/divany-i-kresla/ugloviye-divany/', rel='nofollow') Все модели
				hr.row
				.row
					.category-item.clearfix
						.col-md-6.col-md-push-6.itop_img
							div
								a(href='/krovati/dvuhspalniye-krovati/', rel='nofollow')
									img.img-responsive.center-block(src='https://www.pufetto.com.ua/items/salerno/g/1/g.salerno.jpg', alt='Двухспальная кровать Salerno')
						.col-md-6.col-md-pull-6.item-description.col-xs-center
							p.h2.text-uppercase.normal
								a.item_a(href='/krovati/dvuhspalniye-krovati/') Прямые диваны
							.desc_row
								p
									| Удобная кровать нужна в каждом доме.
									br
									| Мы, в Pufetto, предлагаем Вам не только просторную двуспальную кровать, а еще и пример итальянского стиля и долговечного качества.
							p.h3 от 9 700 грн.
							br.hidden-md
							a.blackbut.bold(href='/krovati/dvuhspalniye-krovati/', rel='nofollow') Все модели
				hr.row
				.clearfix
			.container.where-to-buy
				.row
					.col-sm-12.col-md-8.col-md-offset-2
						div
							h2.text-uppercase.text-center Магазины
							p Ваш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
					ul.cities-buttons.col-sm-12.col-md-8.col-md-offset-2.list-inline.text-center
						li
							a.whitebuts.bold(href='#')
								span Киев
						li
							a.whitebuts.bold(href='#')
								span Сумы
						li
							a.whitebuts.bold(href='#')
								span Харьков
						li
							a.whitebuts.bold(href='#')
								span Одесса
						li
							a.whitebuts.bold(href='#')
								span Белая Церковь
						li
							a.whitebuts.bold(href='#')
								span Полтава
						li
							a.whitebuts.bold(href='#')
								span Запорожье
						li
							a.whitebuts.bold(href='#')
								span Хмельницкий
						li
							a.whitebuts.bold(href='#')
								span Черкассы
			.container.hidden
				.bordered
					h2.text-uppercase.text-center Отзывы покупателей
				.row.clearfix
					ul.alt_content
						li.col-md-4
							.comments
								p.h2
									a(href='/divany-i-kresla/ugloviye-divany/matteo-l-d/') Угловой диван Matteo
									a(href='/divany-i-kresla/ugloviye-divany/matteo-l-d/')
										img.rewimg(src='/items/matteo/d/1/small/d.matteo.l.jpg')
								p.h4.normal
									span Владимир · Харьков · 23.11.2016 ·
								.comment_text
									| Купили диван MATTEO для ежедневного использования (сна). После приобретения возникла определенная сложность в раскладывании дивана (механизм дельфин был достаточно тугой и требовал чрезмерного прикладывания силы). Обратились в салон в Харькове, и на следующий день специалист устранил эту проблему. Спасибо за оперативность и качественный диван.
						li.col-md-4
							.comments
								p.h2
									a(href='/divany-i-kresla/trehmestniye-divany/sofia-c/') Трехместный диван Sofia
									a(href='/divany-i-kresla/trehmestniye-divany/sofia-c/')
										img.rewimg(src='/items/sofia/c/1/small/c.sofia.jpg')
								p.h4.normal
									span Елена · Харьков · 18.11.2016 ·
								.comment_text
									| Спасибо Огромное Pufetto и его команде ,а особенно Татьяне. Долго искала диван и наткнулась на ваш сайт.Сервис супер ,качество мебели супер.
						li.col-md-4
							.comments
								p.h2
									a(href='/divany-i-kresla/trehmestniye-divany/rafaella-c/') Трехместный диван Rafaella
									a(href='/divany-i-kresla/trehmestniye-divany/rafaella-c/')
										img.rewimg(src='/items/rafaella/c/1/small/c.rafaella.jpg')
								p.h4.normal
									span Валерия · Киев · 16.11.2016 ·
								.comment_text
									| Была впечатлена сервисом как в шоу-руме в Киеве так и сроками исполнения (быстрее ожидаемого) так и доставкой со сборкой. Чувствуется толковый менеджмент и лояльный персонал раз так все без сучка без задоринки. Диван - шикарный! Я выбрала rafaella, цвет томатный trinity. Он самый неглубокий в глубину, длинный по длине и мне нравиться со всех сторон, включаю с боковой. Мягкий, приятный, цвет то розовый, то красный - зависит от освещения. Вообщем, всем довольна. Спасибо, так держать!
					.col-md-12
						a.text-uppercase.blackbut.w100(href='/o-nas/otzyvy-pokupatelejj/') Посмотреть все отзывы
					.clearfix
		.clearfix


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
