doctype html
html(lang='ru')
	head
		title AMERS - главная страница
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.hero-section-slider

				.hero-section(style="background-image:url('http://www.galameble.com/wp-content/uploads/slider_%C5%9Bwi%C4%99ta.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('img/bg/ec4c8f25319415.56344c8ea94d5.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('http://www.galameble.com/wp-content/uploads/camelia_slider.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

			.clearfix

			//- include ./partials/categories.jade

			.categories-alternative
				.container-alt
					.row
						a.categories-col(href="categories.html", style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								h3 модульные диваны
						a.categories-col(href="categories.html", style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
							.hover
								h3 прямые диваны
						a.categories-col(href="categories.html", style="background-image:url('https://wallpaperscraft.com/image/paper_vase_sofa_design_interior_fireplace_painting_apartment_room_chair_lamp_plant_style_table_cup_31419_2560x1024.jpg');")
							.hover
								h3 угловые диваны
						a.categories-col(href="categories.html", style="background-image:url('https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg');")
							.hover
								h3 кресла
						a.categories-col(href="categories.html", style="background-image:url('http://www.galameble.com/wp-content/themes/wordpress/img/projektanci.jpg')")
							.hover
								h3 пуфы



			mixin categories-slider-row-item (image, name, invert)
				.item(style="background-image:url(" + image + ")" class= invert ? 'invert' : '')
					a(href='item-card.html')
						img(src= image, alt='description')
						span= name

			.categories-slider-row
				.container-alt
					.row
						a.categories-col(href="categories.html", style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								h3 кровати и матрасы
						.categories-slider.owl-carousel
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/tempo_640_1.jpg',
								'Sofa Tempo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/tempo_640_2.jpg',
								'Fotel Tempo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Mondo_5_640.jpg',
								'Диван Mondo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Domo_2001.jpg',
								'Диван Camelia'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Arosa_640.jpg',
								'Кресло Arosa'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Tom_640.jpg',
								'Кресло Fotel Tom'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Neo_640.jpg',
								'Кресло Neo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Domo_10001.jpg',
								'Диван Massimo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Presto_640.jpg',
								'Кресло Presto'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Zing_640.jpg',
								''
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Mondo_6_640.jpg',
								''
							)

			.categories-slider-row
				.container-alt
					.row
						a.categories-col(href="categories.html", style="background-image:url('https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg');")
							.hover
								h3 подушки и аксесуары
						.categories-slider.owl-carousel
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_Poduszka_Doodle640.jpg',
								'Логус'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_poduszka_pastelowy_podmuch640.jpg',
								'Милана'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_poduszka_gravity640.jpg',
								'Подушка Gravity'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_poduszka_lovebirds640.jpg',
								'Диван Mondo'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_poduszka_celeste640.jpg',
								'Болеро'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_pufa_pastelowy_podmuch640.jpg',
								'Диана'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_pufa_gravity640.jpg',
								'Джули'
							)
							+categories-slider-row-item(
								'http://www.galameble.com/wp-content/uploads/Gala_Collezione_pufa_Doodle640.jpg',
								'Лоретта'
							)
							+categories-slider-row-item(
								'http://g02.a.alicdn.com/kf/HTB1IeJpIXXXXXa_XFXXq6xXFXXXk/luxury-couch-font-b-sofa-b-font-font-b-section-b-font-font-b-sofa-b.jpg',
								'Освальд',
								true
							)
							+categories-slider-row-item(
								'https://s-media-cache-ak0.pinimg.com/736x/e6/df/dc/e6dfdc83f6a6bee285b6fa3cf92d34f3.jpg',
								'Black',
								true
							)



			.container-alt.where-to-buy-alternative
				.row
					.section-label.col-sm-12.col-md-3(style="background-image:url('http://www.galameble.com/wp-content/themes/wordpress/img/projektanci.jpg')")
						a(href="contacts.html").hover
							h3.text-uppercase Как может выглялеть ваш диван
							//- img(src="http://nearfuturelaboratory.com/img/nfl_map_600.png", alt="map")
					.cities-buttons.col-sm-12.col-md-9.text-center
						h3 Ищете салон мягкой мебели АМЕРС?
						p Выберайте город и обращайтесь в ближайший салон.
						.dropdown
							button#city-select(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								span Выберите город
								span.caret
							ul.dropdown-menu(aria-labelledby='city-select')
								li
									a.whitebuts.bold(href='contacts.html#tab-kyiv')
										span Киев
								li
									a.whitebuts.bold(href='contacts.html#tab-charkov')
										span Харьков
								li
									a.whitebuts.bold(href='contacts.html#tab-odessa')
										span Одесса
								li
									a.whitebuts.bold(href='contacts.html#tab-dnepr')
										span Запорожье
								li
									a.whitebuts.bold(href='contacts.html#tab-lviv')
										span Львов
								li
									a.whitebuts.bold(href='contacts.html')
										span Черкассы


			.subscribe-row
				.container
					.row
						.col-sm-12.col-md-12
							.description-holder
								h3 5 причин подписаться на нашу рассылку
								p Рассылка - это удобный способ вовремя узнавать о важных новостях и выгодных возможностях. Мы сами не любим разгребать десятки писем каждый день, поэтому будем писать вам только раз в неделю. И никакой рекламы и спама — только новости!
							form.row.flex-width(action="#")
								.form-group
									input(type='email', placeholder='Email')
								.form-group
									input(type='password', placeholder='Имя')
								.form-group
									button.btn.btn-primary(type='submit')
										span Подписаться


			.collections-on-main
				.container-alt
					.row
						.collections-on-main-col(style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								a(href='categories.html')
									h3 Модульные
									p Тут будет описание продукта или краткая информация о содержимом ссылки.
						.collections-on-main-col
							.collections-on-main-holder(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
								.hover
									h3 Мы в соц. сетях
									.collections-on-main-social-wrap
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-facebook.png', alt='Facebook')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-google+.png', alt='Google+')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-pinterest.png', alt='Pinterest')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-youtube.png', alt='YouTube')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-twitter.png', alt='Pinterest')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-slideshare.png', alt='SlideShare')
							.collections-on-main-holder(style="background-image:url('https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg');")
								.hover
									a.half-height(href='categories.html')
										h3 Подушки
						.collections-on-main-col(style="background-image:url('http://www.galameble.com/wp-content/themes/wordpress/img/projektanci.jpg')")
							a(href='categories.html')
								.hover
									h3 Дизайн интерьера


			.container.where-to-buy.hidden
				.row
					.col-sm-12.col-md-8.col-md-offset-2
						div
							h2.text-uppercase.text-center Магазины
							p Ищете салон мягкой мебели АМЕРС?
							p Выберайте город и обращайтесь в ближайший салон.
					ul.cities-buttons.col-sm-12.col-md-8.col-md-offset-2.list-inline.text-center
						li
							a.whitebuts.bold(href='#')
								span Киев
						li
							a.whitebuts.bold(href='#')
								span Сумы
						li
							a.whitebuts.bold(href='#')
								span Харьков
						li
							a.whitebuts.bold(href='#')
								span Одесса
						li
							a.whitebuts.bold(href='#')
								span Белая Церковь
						li
							a.whitebuts.bold(href='#')
								span Полтава
						li
							a.whitebuts.bold(href='#')
								span Запорожье
						li
							a.whitebuts.bold(href='#')
								span Хмельницкий
						li
							a.whitebuts.bold(href='#')
								span Черкассы

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	script(src="js/index.js")
