doctype html
html(lang='ru')
	head
		title AMERS - главная страница
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.hero-section-slider
				.hero-section(style="background-image:url('img/bg/ec4c8f25319415.56344c8ea94d5.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.
				.hero-section(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.
			br
			.clearfix

			include ./partials/categories.jade

			.container.where-to-buy
				.row
					.col-sm-12.col-md-8.col-md-offset-2
						div
							h2.text-uppercase.text-center Магазины
							p Ваш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
					ul.cities-buttons.col-sm-12.col-md-8.col-md-offset-2.list-inline.text-center
						li
							a.whitebuts.bold(href='#')
								span Киев
						li
							a.whitebuts.bold(href='#')
								span Сумы
						li
							a.whitebuts.bold(href='#')
								span Харьков
						li
							a.whitebuts.bold(href='#')
								span Одесса
						li
							a.whitebuts.bold(href='#')
								span Белая Церковь
						li
							a.whitebuts.bold(href='#')
								span Полтава
						li
							a.whitebuts.bold(href='#')
								span Запорожье
						li
							a.whitebuts.bold(href='#')
								span Хмельницкий
						li
							a.whitebuts.bold(href='#')
								span Черкассы

			.container.hidden
				.bordered
					h2.text-uppercase.text-center Отзывы покупателей
				.row.clearfix
					ul.alt_content
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Угловой диван Matteo
									a(href='feedbacks.html')
										img.rewimg(src='/items/matteo/d/1/small/d.matteo.l.jpg')
								p.h4.normal
									span Владимир · Харьков · 23.11.2016 ·
								.comment_text
									| Купили диван MATTEO для ежедневного использования (сна). После приобретения возникла определенная сложность в раскладывании дивана (механизм дельфин был достаточно тугой и требовал чрезмерного прикладывания силы). Обратились в салон в Харькове, и на следующий день специалист устранил эту проблему. Спасибо за оперативность и качественный диван.
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Трехместный диван Sofia
									a(href='feedbacks.html')
										img.rewimg(src='/items/sofia/c/1/small/c.sofia.jpg')
								p.h4.normal
									span Елена · Харьков · 18.11.2016 ·
								.comment_text
									| Спасибо Огромное Pufetto и его команде ,а особенно Татьяне. Долго искала диван и наткнулась на ваш сайт.Сервис супер ,качество мебели супер.
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Трехместный диван Rafaella
									a(href='feedbacks.html')
										img.rewimg(src='/items/rafaella/c/1/small/c.rafaella.jpg')
								p.h4.normal
									span Валерия · Киев · 16.11.2016 ·
								.comment_text
									| Была впечатлена сервисом как в шоу-руме в Киеве так и сроками исполнения (быстрее ожидаемого) так и доставкой со сборкой. Чувствуется толковый менеджмент и лояльный персонал раз так все без сучка без задоринки. Диван - шикарный! Я выбрала rafaella, цвет томатный trinity. Он самый неглубокий в глубину, длинный по длине и мне нравиться со всех сторон, включаю с боковой. Мягкий, приятный, цвет то розовый, то красный - зависит от освещения. Вообщем, всем довольна. Спасибо, так держать!
					.col-md-12
						a.text-uppercase.blackbut.w100(href='feedbacks.html') Посмотреть все отзывы


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	script.
		$('.hero-section-slider').owlCarousel({
				autoPlay : 5000,
				singleItem: true,
				slideSpeed: 300,
				navigation: true,
				pagination: false
			});
