doctype html
html(lang='ru')
	head
		title AMERS - главная страница
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.hero-section-slider

				.hero-section(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('img/bg/ec4c8f25319415.56344c8ea94d5.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('https://wallpaperscraft.com/image/paper_vase_sofa_design_interior_fireplace_painting_apartment_room_chair_lamp_plant_style_table_cup_31419_2560x1024.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('http://www.galameble.com/wp-content/uploads/camelia_slider.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('http://www.galameble.com/wp-content/uploads/Domo_slider-2.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.

				.hero-section(style="background-image:url('http://www.galameble.com/wp-content/uploads/slider_%C5%9Bwi%C4%99ta.jpg');")
					.container
						.content
							h1 Качественная мебель для ежедневного сна.
							p Основными характеристиками мягкой мебели ”Amers” являются современный дизайн, компактность, надежность и функциональность. Именно это по словам наших клиентов является ключевыми преимуществами при выборе нашей мебели.
			.clearfix

			//- include ./partials/categories.jade

			.categories-alternative
				.container
					.row
						a(href="categories.html").categories-col(style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								h3 модульные диваны
						a(href="categories.html").categories-col(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
							.hover
								h3 прямые диваны
						a(href="categories.html").categories-col(style="background-image:url('https://wallpaperscraft.com/image/paper_vase_sofa_design_interior_fireplace_painting_apartment_room_chair_lamp_plant_style_table_cup_31419_2560x1024.jpg');")
							.hover
								h3 угловые диваны
						a(href="categories.html").categories-col(style="background-image:url('http://www.galameble.com/wp-content/uploads/Domo_slider-2.jpg');")
							.hover
								h3 кресла
						a(href="categories.html").categories-col(style="background-image:url('http://www.galameble.com/wp-content/themes/wordpress/img/projektanci.jpg')")
							.hover
								h3 пуфы
			.categories-slider-row
				.container
					.row
						a.categories-col(href="categories.html", style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								h3 кровани и матрасы
						.categories-slider.owl-carousel
							.item(style="background-image:url(http://zegen.ua/img/p/1/2/1/121.jpg)")
								a(href="http://zegen.ua/img/p/1/2/1/121.jpg")
									img(src='http://zegen.ua/img/p/1/2/1/121.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg', alt='description')
							.item(style="background-image:url(http://zegen.ua/img/p/1/2/2/122.jpg)")
								a(href="http://zegen.ua/img/p/1/2/2/122.jpg")
									img(src='http://zegen.ua/img/p/1/2/2/122.jpg', alt='description')
							.item(style="background-image:url(http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg)")
								a(href="http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg")
									img(src='http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg', alt='description')

			.categories-slider-row
				.container
					.row
						a.categories-col(href="categories.html", style="background-image:url('https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg');")
							.hover
								h3 подушки и аксесуары
						.categories-slider.owl-carousel
							.item(style="background-image:url(https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/penthouse_sofa_window_style_interior_75612_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/sofa_pillows_lamp_74963_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_design_white_living_room_10400_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_sofa_interior_design_style_comfort_68132_2560x1024.jpg', alt='description')
							.item(style="background-image:url(http://zegen.ua/img/p/1/2/1/121.jpg)")
								a(href="http://zegen.ua/img/p/1/2/1/121.jpg")
									img(src='http://zegen.ua/img/p/1/2/1/121.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/furniture_chair_light_interior_painting_76171_2560x1024.jpg', alt='description')
							.item(style="background-image:url(http://zegen.ua/img/p/1/2/2/122.jpg)")
								a(href="http://zegen.ua/img/p/1/2/2/122.jpg")
									img(src='http://zegen.ua/img/p/1/2/2/122.jpg', alt='description')
							.item(style="background-image:url(http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg)")
								a(href="http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg")
									img(src='http://www.hdwlp.com/wp-content/uploads/2016/08/Living-Room-Sofas-Furniture-2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/sofa_style_interior_design_39178_2560x1024.jpg', alt='description')
							.item(style="background-image:url(https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg)")
								a(href="https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg")
									img(src='https://wallpaperscraft.com/image/living_room_sofa_furniture_interior_style_design_95260_2560x1024.jpg', alt='description')

			.container.where-to-buy-alternative
				.row
					.section-label.col-sm-12.col-md-3(style="background-image:url(http://nearfuturelaboratory.com/img/nfl_map_600.png)")
						.hover
							h3.text-uppercase Магазины
							img(src="http://nearfuturelaboratory.com/img/nfl_map_600.png", alt="map")
					.cities-buttons.col-sm-12.col-md-9.text-center
						p Ваш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
						.dropdown
							button#city-select(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								| Выберите город
								span.caret
							ul.dropdown-menu(aria-labelledby='city-select')
								li
									a.whitebuts.bold(href='#')
										span Киев
								li
									a.whitebuts.bold(href='#')
										span Сумы
								li
									a.whitebuts.bold(href='#')
										span Харьков
								li
									a.whitebuts.bold(href='#')
										span Одесса
								li
									a.whitebuts.bold(href='#')
										span Белая Церковь
								li
									a.whitebuts.bold(href='#')
										span Полтава
								li
									a.whitebuts.bold(href='#')
										span Запорожье
								li
									a.whitebuts.bold(href='#')
										span Хмельницкий
								li
									a.whitebuts.bold(href='#')
										span Черкассы


			.collections-on-main
				.container
					.row
						.collections-on-main-col(style="background-image:url('http://zegen.ua/img/p/1/2/2/122.jpg');")
							.hover
								a(href='categories.html')
									h3 Модульные
									p Тут будет описание продукта или краткая информация о содержимом ссылки.
						.collections-on-main-col
							.collections-on-main-holder(style="background-image:url('https://wallpaperscraft.com/image/furniture_interior_design_gift_86632_2560x1024.jpg');")
								.hover
									h3 Мы в соц. сетях
									.collections-on-main-social-wrap
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-facebook.png', alt='Facebook')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-google+.png', alt='Google+')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-pinterest.png', alt='Pinterest')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-youtube.png', alt='YouTube')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-twitter.png', alt='Pinterest')
										a.gala-social(href='#', target='_blank')
											img(src='http://www.galameble.com/wp-content/themes/wordpress/css/icon-slideshare.png', alt='SlideShare')
							.collections-on-main-holder(style="background-image:url('https://wallpaperscraft.com/image/hotel_room_bed_furniture_luxury_70053_2560x1024.jpg');")
								.hover
									a.half-height(href='categories.html')
										h3 Подушки
						.collections-on-main-col(style="background-image:url('http://www.galameble.com/wp-content/themes/wordpress/img/projektanci.jpg')")
							a(href='categories.html')
								.hover
									h3 Дизайн интерьера


			.subscribe-row
				.container
					.row
						.col-sm-12.col-md-12
							.description-holder
								h3 5 причин подписаться на нашу рассылку
								p Рассылка - это удобный способ вовремя узнавать о важных новостях и выгодных возможностях. Мы сами не любим разгребать десятки писем каждый день, поэтому будем писать вам только раз в неделю. И никакой рекламы и спама — только новости!
							form.row(action="#")
								.form-group.col-md-4.col-sm-12
									input(type='email', placeholder='Email')
								.form-group.col-md-4.col-sm-12
									input(type='password', placeholder='Имя')
								.form-group.col-md-4.col-sm-12
									button.btn.btn-primary(type='submit')
										span Подписаться


			.container.where-to-buy.hidden
				.row
					.col-sm-12.col-md-8.col-md-offset-2
						div
							h2.text-uppercase.text-center Магазины
							p Ваш коллектив руководствуется девизом “качество не только снаружи, но и внутри”, именно поэтому для производства мебели используются только экологически чистые материалы. Мы постоянно обновляем наш модельный ряд, а также следуем современным тенденциям в мире дизайна и технологий, которые успешно применяем при изготовлении новых изделий.
					ul.cities-buttons.col-sm-12.col-md-8.col-md-offset-2.list-inline.text-center
						li
							a.whitebuts.bold(href='#')
								span Киев
						li
							a.whitebuts.bold(href='#')
								span Сумы
						li
							a.whitebuts.bold(href='#')
								span Харьков
						li
							a.whitebuts.bold(href='#')
								span Одесса
						li
							a.whitebuts.bold(href='#')
								span Белая Церковь
						li
							a.whitebuts.bold(href='#')
								span Полтава
						li
							a.whitebuts.bold(href='#')
								span Запорожье
						li
							a.whitebuts.bold(href='#')
								span Хмельницкий
						li
							a.whitebuts.bold(href='#')
								span Черкассы

			.container.hidden
				.bordered
					h2.text-uppercase.text-center Отзывы покупателей
				.row.clearfix
					ul.alt_content
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Угловой диван Matteo
									a(href='feedbacks.html')
										img.rewimg(src='/items/matteo/d/1/small/d.matteo.l.jpg')
								p.h4.normal
									span Владимир · Харьков · 23.11.2016 ·
								.comment_text
									| Купили диван MATTEO для ежедневного использования (сна). После приобретения возникла определенная сложность в раскладывании дивана (механизм дельфин был достаточно тугой и требовал чрезмерного прикладывания силы). Обратились в салон в Харькове, и на следующий день специалист устранил эту проблему. Спасибо за оперативность и качественный диван.
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Трехместный диван Sofia
									a(href='feedbacks.html')
										img.rewimg(src='/items/sofia/c/1/small/c.sofia.jpg')
								p.h4.normal
									span Елена · Харьков · 18.11.2016 ·
								.comment_text
									| Спасибо Огромное Pufetto и его команде ,а особенно Татьяне. Долго искала диван и наткнулась на ваш сайт.Сервис супер ,качество мебели супер.
						li.col-md-4
							.comments
								p.h2
									a(href='feedbacks.html') Трехместный диван Rafaella
									a(href='feedbacks.html')
										img.rewimg(src='/items/rafaella/c/1/small/c.rafaella.jpg')
								p.h4.normal
									span Валерия · Киев · 16.11.2016 ·
								.comment_text
									| Была впечатлена сервисом как в шоу-руме в Киеве так и сроками исполнения (быстрее ожидаемого) так и доставкой со сборкой. Чувствуется толковый менеджмент и лояльный персонал раз так все без сучка без задоринки. Диван - шикарный! Я выбрала rafaella, цвет томатный trinity. Он самый неглубокий в глубину, длинный по длине и мне нравиться со всех сторон, включаю с боковой. Мягкий, приятный, цвет то розовый, то красный - зависит от освещения. Вообщем, всем довольна. Спасибо, так держать!
					.col-md-12
						a.text-uppercase.blackbut.w100(href='feedbacks.html') Посмотреть все отзывы


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	script(src="js/index.js")
