doctype html
html(lang='ru')
	head
		title AMERS - товар
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.item-card-page
				.row
					.col-md-12.item-card-main-slider
						//

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
