doctype html
html(lang='ru')
	head
		title AMERS - товар
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.item-card-page-old
				.row
					.col-md-12.item-card-main-header
						h1
							span Название товара
				.row
					#item-card-main-slider.col-md-12.item-card-main-slider
						#owl-main.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/upload/montaj_nikol_nikol.jpg)")
								a(href="http://amers.ck.ua/upload/montaj_nikol_nikol.jpg")
									img(src='http://amers.ck.ua/upload/montaj_nikol_nikol.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_sh_4.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_sh_4.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_sh_4.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_razrez1_2.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_razrez1_2.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_razrez1_2.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_Soho_7.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_Soho_7.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_Soho_7.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli.jpg)")
								a(href="http://amers.ck.ua/upload/Juli.jpg")
									img(src='http://amers.ck.ua/upload/Juli.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli_sh_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli_sh_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli_sh_1.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli%20_razrez_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli%20_razrez_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli%20_razrez_1.jpg', alt='description')
						#owl-helper.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220', alt='description')

				form(action="#").row
					.col-md-6.col-sm-12.item-card-main-materials
						h4 Категория ткани 1
						ul.list-inline.materials-list
							li
								input#material-92(type="radio" name="material" value="material-92" checked)
								label(for="material-92" style="background-color:#788186;background-image:url(https://www.pufetto.com.ua/fabrics/real/trinity-14.jpg)" data-toggle="tooltip" title="&nbsp" data-color="#788186" data-image="https://www.pufetto.com.ua/fabrics/real/trinity-14.jpg").material-link
							li
								input#material-24(type="radio" name="material" value="material-24")
								label(for="material-24" style="background-color:#6e4750;background-image:url(http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/2/0/20.jpg)" data-toggle="tooltip" title="&nbsp" data-color="#6e4750" data-image="http://dommino.ua/media/catalog/product/cache/1/full/210x210/9df78eab33525d08d6e5fb8d27136e95/2/0/20.jpg").material-link
							li
								input#material-64(type="radio" name="material" value="material-64")
								label(for="material-64" style="background-color:#8a2252;background-image:url(http://dommino.ua/media//catalog/product/d/k/30x30xdk-pink-13.jpg)" data-toggle="tooltip" title="&nbsp" data-color="#8a2252" data-image="http://dommino.ua/media//catalog/product/d/k/30x30xdk-pink-13.jpg").material-link
							li
								input#material-33(type="radio" name="material" value="material-33")
								label(for="material-33" style="background-color:#745a44;background-image:url(http://dommino.ua/media//catalog/product/g/o/30x30xgold-brown-05.jpg)" data-toggle="tooltip" title="&nbsp" data-color="#745a44" data-image="http://dommino.ua/media//catalog/product/g/o/30x30xgold-brown-05.jpg").material-link
							li
								input#material-97(type="radio" name="material" value="material-97")
								label(for="material-97" style="background-color:#868c8c;background-image:url(http://dommino.ua/media//catalog/product/g/r/30x30xgrey-09.jpg)" data-toggle="tooltip" title="&nbsp" data-color="#868c8c" data-image="http://dommino.ua/media//catalog/product/g/r/30x30xgrey-09.jpg").material-link

						h4 Категория ткани 2
						ul.list-inline.materials-list
							li
								input#material-80(type="radio" name="material" value="material-80")
								label(for="material-80" style="background:#BF533B;" data-toggle="tooltip" title="&nbsp" data-color="#BF533B").material-link
							li
								input#material-22(type="radio" name="material" value="material-22")
								label(for="material-22" style="background:#C96100;" data-toggle="tooltip" title="&nbsp" data-color="#C96100").material-link
							li
								input#material-84(type="radio" name="material" value="material-84")
								label(for="material-84" style="background:#591E18;" data-toggle="tooltip" title="&nbsp" data-color="#591E18").material-link

					.col-md-6.item-card-main-info-block
						span.price-tag-old 2010
							small грн.
						span.price-tag 1920
							small грн.
						a.btn.btn-grey(href="cart.html" data-toggle="modal" data-target="#cart-sidebar") В корзину
						a.btn.btn-primary(href="order.html") Оформить

				.row
					//- .col-md-4.col-sm-12.col-md-push-8.item-card-main-materials
					//- .col-md-8.col-sm-12.col-md-pull-4.item-card-main-description

					.col-md-6.col-sm-12.item-card-main-description
						h3 Угловой диван ВИТТО
						p Витто - универсальный диван трасформер, конструкция которого легко  позволяет  самостоятельно изменять  угловое изделие на прямой диван и наоборот. Механизм раскладки "Еврокнижка"  без особых усилий превращает изделие в просторную двуспальную кровать, а вместительные короба для белья помогут разместить множество предметов. Также в диване предусмотрены ниши в подлокотниках, которые создают дополнительное место для вещей, а так же практичные ламинированные накладки с помощью которых подлокотники легко содержать в чистоте.

					.col-md-6.col-sm-12.item-card-main-description
						a(href="http://amers.ck.ua/upload/Nikol_sh_4.jpg")
							img(src="http://amers.ck.ua/upload/Nikol_sh_4.jpg", alt="scheme")

				.row
					.col-md-12
						h3 Похожие товары
				.row
					#owl-other-items.owl-carousel.owl-theme
						a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220)")
							img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220', alt='description')
						a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220)")
							img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220', alt='description')
						a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220)")
							img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220', alt='description')
						a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220)")
							img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220', alt='description')
						a.item(href="#" style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220)")
							img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220', alt='description')

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	link(rel="stylesheet", href="external/magnific-popup/dist/magnific-popup.css")
	script(src="external/magnific-popup/dist/jquery.magnific-popup.min.js")

	link(rel="stylesheet", href="css/catalog-old.css")
	script(src='js/item-card.js')
