doctype html
html(lang='ru')
	head
		title AMERS - товар
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.item-card-page
				.row
					.col-md-12
						h1
							span Название товара
				.row
					.col-md-12.item-card-main-slider
						#owl-main.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/upload/montaj_nikol_nikol.jpg)")
								a(href="http://amers.ck.ua/upload/montaj_nikol_nikol.jpg")
									img(src='http://amers.ck.ua/upload/montaj_nikol_nikol.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_sh_4.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_sh_4.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_sh_4.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_razrez1_2.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_razrez1_2.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_razrez1_2.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_Soho_7.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_Soho_7.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_Soho_7.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli.jpg)")
								a(href="http://amers.ck.ua/upload/Juli.jpg")
									img(src='http://amers.ck.ua/upload/Juli.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli_sh_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli_sh_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli_sh_1.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli%20_razrez_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli%20_razrez_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli%20_razrez_1.jpg', alt='description')
						#owl-helper.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220', alt='description')

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	link(rel="stylesheet", href="external/magnific-popup/dist/magnific-popup.css")
	script(src="external/magnific-popup/dist/jquery.magnific-popup.min.js")

	script(src='js/item-card.js')
