doctype html
html(lang='ru')
	head
		title AMERS - товар
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.item-card-page
				.row
					.col-md-12.item-card-main-header
						h1
							span Название товара
				.row
					#item-card-main-slider.col-md-12.item-card-main-slider
						#owl-main.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/upload/montaj_nikol_nikol.jpg)")
								a(href="http://amers.ck.ua/upload/montaj_nikol_nikol.jpg")
									img(src='http://amers.ck.ua/upload/montaj_nikol_nikol.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_sh_4.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_sh_4.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_sh_4.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_razrez1_2.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_razrez1_2.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_razrez1_2.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Nikol_Soho_7.jpg)")
								a(href="http://amers.ck.ua/upload/Nikol_Soho_7.jpg")
									img(src='http://amers.ck.ua/upload/Nikol_Soho_7.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli.jpg)")
								a(href="http://amers.ck.ua/upload/Juli.jpg")
									img(src='http://amers.ck.ua/upload/Juli.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli_sh_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli_sh_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli_sh_1.jpg', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/upload/Juli%20_razrez_1.jpg)")
								a(href="http://amers.ck.ua/upload/Juli%20_razrez_1.jpg")
									img(src='http://amers.ck.ua/upload/Juli%20_razrez_1.jpg', alt='description')
						#owl-helper.owl-carousel.owl-theme
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/montaj_nikol_nikol.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_sh_4.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Nikol_razrez1_2.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Nikol_Soho_7.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../../upload/Juli_sh_1.jpg&w=600&h=220', alt='description')
							.item(style="background-image:url(http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220)")
								img(src='http://amers.ck.ua/ru/f/resize_im.php?src=../..//upload/Juli%20_razrez_1.jpg&w=600&h=220', alt='description')

				.row
					.col-md-12.item-card-main-info-block
						.price-tag
						a.btn.btn-primary(href="order.html") В корзину
						a.btn.btn-order(href="order.html") Оформить

				.row
					.col-md-12.item-card-main-description
						h3 Угловой диван ВИТТО
						p Витто - универсальный диван трасформер, конструкция которого легко  позволяет  самостоятельно изменять  угловое изделие на прямой диван и наоборот. Механизм раскладки "Еврокнижка"  без особых усилий превращает изделие в просторную двуспальную кровать, а вместительные короба для белья помогут разместить множество предметов. Также в диване предусмотрены ниши в подлокотниках, которые создают дополнительное место для вещей, а так же практичные ламинированные накладки с помощью которых подлокотники легко содержать в чистоте.

				.row
					.col-md-12.item-card-main-materials
						h4 Категория ткани 1
						ul.list-inline.materials-list
							li
								a(href="#", style="background:#009FD4;" data-toggle="tooltip" title="&nbsp" data-color="#009FD4" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#BF533B;" data-toggle="tooltip" title="&nbsp" data-color="#BF533B" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#C96100;" data-toggle="tooltip" title="&nbsp" data-color="#C96100" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#591E18;" data-toggle="tooltip" title="&nbsp" data-color="#591E18" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#8C5A56;" data-toggle="tooltip" title="&nbsp" data-color="#8C5A56" data-image="img/icons/logo-main.png").material-link

						h4 Категория ткани 2
						ul.list-inline.materials-list
							li
								a(href="#", style="background:#E88425;" data-toggle="tooltip" title="&nbsp" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#DB2100;" data-toggle="tooltip" title="&nbsp" data-image="img/icons/logo-main.png").material-link
							li
								a(href="#", style="background:#9BC900;" data-toggle="tooltip" title="&nbsp" data-image="img/icons/logo-main.png").material-link

						h4 Категория ткани 3
						ul.list-inline.materials-list
							li
								a(href="#", style="background:#BF533B;" data-toggle="tooltip" title="&nbsp" data-color="#BF533B").material-link
							li
								a(href="#", style="background:#C96100;" data-toggle="tooltip" title="&nbsp" data-color="#C96100").material-link
							li
								a(href="#", style="background:#591E18;" data-toggle="tooltip" title="&nbsp" data-color="#591E18").material-link


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade

	link(rel="stylesheet", href="external/owl/owl-carousel/owl.carousel.css")
	script(src='external/owl/owl-carousel/owl.carousel.min.js')
	link(rel="stylesheet", href="external/magnific-popup/dist/magnific-popup.css")
	script(src="external/magnific-popup/dist/jquery.magnific-popup.min.js")

	script(src='js/item-card.js')
