doctype html
html(lang='ru')
	head
		title AMERS - профиль
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content
			.container.profile-page
				.row
					.col-md-6
						form(action="#").col-md-12.profile-form
							.form-group
								label(for="popup-register-email") Email *
								input(type="text")#popup-register-email
							.form-group
								label(for="popup-register-email") ФИО
								input(type="text")#popup-register-email
							.form-group
								label(for="popup-register-email") Номер телефона
								input(type="text")#popup-register-email
							.form-group
								label(for="popup-register-password") Пароль *
								input(type="password")#popup-register-password
							.form-group
								label(for="popup-register-password") Пароль повторно *
								input(type="password")#popup-register-password
							.form-group.checkbox-group
								input(type="checkbox")#popup-register-save
								label(for="popup-register-save") Согласен с правилами *
							.button-group
								button.btn.btn-primary(type="submit")
									span Регистрация



		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
