doctype html
html(lang='ru')
	head
		title AMERS - профиль
		meta(charset="utf-8")

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		content.user-actions-page
			.container
				.row
					.col-md-12
						ul.user-actions-list
							li.action-link.active.col-sm-12.col-md-4
								a(href="#cart-tab" aria-controls="cart-tab" role="tab" data-toggle="tab")
									i.icon-basket
									span Посмотреть корзину
							li.action-link.col-sm-12.col-md-4
								a(href="#purchase-history-tab" aria-controls="purchase-history-tab" role="tab" data-toggle="tab")
									i.icon-history
									span История заказов
							li.action-link.col-sm-12.col-md-4
								a(href="#profile-tab" aria-controls="profile-tab" role="tab" data-toggle="tab")
									i.icon-vcard
									span Изменить профиль
				.row
					.col-md-12
						.tab-content.user-actions-content
							#cart-tab.tab-pane.active( role="tabpanel" )
								include partials/cart-items

							#purchase-history-tab.tab-pane( role="tabpanel" )
								.cart-items-holder
									mixin cart-item (name, img, orderId, color, status, ...prop)
										li.cart-item(class= 'status-' + status)
											.left-side
												span.item-image
													a.image-holder(href='item-card.html')
														img(src= img, alt= name)
												a.item-name(href='item-card.html')= name
											.right-side
												span.item-properties
													-for (key in prop)
														button= prop[key]
												span.item-status
													button
														if status === 'done'
															| доставлено
														else if status === 'waiting'
															| доставляется
														else
															| отменено
												span.item-price
													span.price-cost 12700
													span.currency грн.
									+cart-item(
										'Сенатор',
										'https://www.pufetto.com.ua/items/gerardo/c/1/c.gerardo.jpg',
										'81dbee5a-bb16-4e68-baae-20c6e5c7cc67',
										'Красный',
										'done',
										'PENTA'
									)
									+cart-item(
										'Милана',
										'http://amers.ck.ua/upload/Milana.jpg',
										'7c1754e2-8699-4a36-8500-912e5ed373b5',
										'Синий',
										'done',
										'NOVEL'
									)
									+cart-item(
										'Доната',
										'http://amers.ck.ua/upload/Donata_divan.jpg',
										'ae76ee1a-17ac-43c9-89ed-4eea71676692',
										'Желтый',
										'waiting',
										'RITZ'
									)
									+cart-item(
										'Сенатор',
										'http://amers.ck.ua/upload/Senator_1.jpg',
										'd3b17c9a-1e5e-4cf7-8cf8-56f2aeb514d6',
										'Красный',
										'canceled',
										'TRINITY'
									)

							#profile-tab.tab-pane( role="tabpanel" )
								form.profile-form.col-md-12.col-lg-6(action="#")
									.form-group
										label(for="popup-register-email") Email *
										input(type="text" value="test@mail.ua")#popup-register-email
									.form-group
										label(for="popup-register-email") ФИО
										input(type="text" value="Андреевич Андрей Андреев")#popup-register-email
									.form-group
										label(for="popup-register-email") Номер телефона
										input(type="text" value="(033) 123-45-67")#popup-register-email
									.form-group
										label(for="popup-register-password") Пароль *
										input(type="password")#popup-register-password
									.form-group
										a(href="#" data-toggle="modal" data-target="#change-password-modal") Сменить пароль
									.button-group
										button.btn.btn-primary(type="submit")
											span Сохранить

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
